<template>
  <div>
    <kindo-card-search>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <KindoOrganisation :city.sync='searchForm.city' :cnty.sync='searchForm.cnty'></KindoOrganisation>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="getData">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card class="cardWrap">
      <el-button icon="fa fa-cloud-download" @click="exportTable" class="exportHandle">导出</el-button>
      <el-tabs v-model="activeName">
        <el-tab-pane label="MDC维度评价" name="1">
          <kindo-table ref="tableRef" :pageSize="20" :queryParam="searchForm" :url="config.api.listpage" :default-sort="{prop: 'jbmmdccode', order: 'ascending'}">
            <el-table-column label="MDC编码" prop="jbmmdccode" width="120px" header-align="center" align="left" show-overflow-tooltip sortable="custom">
            </el-table-column>
            <el-table-column label="MDC名称" prop="jbmmdcname" min-width="160px" header-align="center" align="left" show-overflow-tooltip></el-table-column>
            <el-table-column label="入组病案数" sortable="custom" width="120px" header-align="center" align="right" show-overflow-tooltip prop="jbmmdcnum">
              <template slot-scope="scope">
                <el-button type="text" @click="showInDrg(scope.row)">{{ scope.row.jbmmdcnum!==null?scope.row.jbmmdcnum.formatNum(0):'-' }}</el-button>
              </template>
            </el-table-column>
            <el-table-column label="标准DRG组数" prop="jbmbdrgcount" width="140px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
            <el-table-column label="实际DRG组数" sortable="custom" width="140px" header-align="center" align="right" show-overflow-tooltip prop="jbmdrgnum">
              <template slot-scope="scope">
                <el-button type="text" @click="showdrgDialogVisible(scope.row)">{{ scope.row.jbmdrgnum }}</el-button>
              </template>
            </el-table-column>
            <el-table-column label="总权重" prop="jbmrwt" sortable="custom" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
            <el-table-column label="CMI值" prop="jbmcmi" width="120px" sortable="custom" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
            <el-table-column label="时间消耗指数" prop="jbmtimesi" width="120px" sortable="custom" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
            <el-table-column label="平均住院日（天）" prop="jbmpjzyr" width="150px" sortable="custom" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
            <el-table-column label="费用消耗指数" prop="jbmcostsi" width="120px" sortable="custom" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
            <el-table-column label="次均费用（元）" prop="jbmcjfy" width="140px" sortable="custom" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
            <el-table-column label="死亡人数" prop="jbmswnum" width="120px" sortable="custom" header-align="center" align="right" show-overflow-tooltip></el-table-column>
            <el-table-column label="死亡率（%）" prop="jbmswl" sortable="custom" width="120px" header-align="center" align="right" show-overflow-tooltip></el-table-column>
            <el-table-column label="操作" fixed="right" width="80px" header-align="center" align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="showDetail(scope.row)" icon="el-icon-search">查看</el-button>
              </template>
            </el-table-column>
          </kindo-table>
        </el-tab-pane>
        <el-tab-pane label="医院维度评价" name="2">
          <el-form label-width="160px">
            <el-row>
              <el-form-item label="医疗机构MDC分类">
                <el-select v-model="yySearchForm.zbType" placeholder="请选择">
                  <el-option v-for="item in source.mdcSouce" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-row>
          </el-form>
          <kindo-table ref="yyTableRef" :pageSize="20" :queryParam="Object.assign({},searchForm,yySearchForm)" :url="config.api.yy" :default-sort="{prop: 'zhzb', order: 'descending'}" :loadFilter="yyLoadFilter">
            <el-table-column label="医院名称" min-width="220" header-align="center" align='left' prop="yyName" show-overflow-tooltip></el-table-column>
            <el-table-column label="综合指标" width="120" header-align="center" align="right" sortable="custom" prop="zhzb">
              <template slot-scope="scope">
                <span :style="{color:getRankColor(scope.row[scope.column.property+'Sequ'],scope.row.tote)}">{{computedZhzb(scope)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="专业总数" width="120" eader-align="center" align="right" sortable="custom" prop="zyzs">
              <template slot-scope="scope">
                <span :style="{color:getRankColor(scope.row[scope.column.property+'Sequ'],scope.row.tote)}">{{scope.row[scope.column.property]}}</span>
              </template>
            </el-table-column>
            <el-table-column label="缺失专业数" width="120" header-align="center" align="right" sortable="custom" prop="qsZys">
              <template slot-scope="scope">
                <span :style="{color:getReverseRankColor(scope.row[scope.column.property+'Sequ'],scope.row.tote)}">{{scope.row[scope.column.property]}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="item.label" width="220" header-align="center" align='right' sortable="custom" :prop="item.value" v-for="item in source.mdcs" :key="item.value">
              <template slot-scope="scope">
                <span :style="{color:getRankColor(scope.row[scope.column.property+'Sequ'],scope.row[scope.column.property+'Totel'])}">{{computedMdcs(scope)}}</span>
              </template>
            </el-table-column>
          </kindo-table>
        </el-tab-pane>
      </el-tabs>
    </kindo-card>

    <!-- 点击”入组病案数“弹出框 -->
    <el-dialog :title="inDrgTitle" v-drag :visible.sync="inDrgDialogVisible" width="80%">
      <el-button icon="fa fa-cloud-download" @click="exportInTable" class="exportBtn">
        导出</el-button>
      <kindo-table ref="tableRZBARef" :url="config.api.rzbas" :queryParam="Object.assign({},searchForm,{ mdcCode:currentRow.jbmmdccode})">
        <el-table-column label="医院名称" prop="yyName" min-width="160px" header-align="center" align="left" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="病案号" prop="bah" min-width="120px" header-align="center" align="left" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="DRG编码" prop="drgcode" min-width="120px" header-align="center" align="left" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="drgname" min-width="160px" header-align="center" align="left" show-overflow-tooltip></el-table-column>
        <el-table-column label="相对权重" prop="rwt" min-width="100px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="主要诊断" prop="zyzd" min-width="160px" header-align="center" align="left" show-overflow-tooltip></el-table-column>
        <el-table-column label="主要操作" prop="zycz" min-width="160px" header-align="center" align="left" show-overflow-tooltip></el-table-column>
        <el-table-column label="住院天数" prop="zyts" min-width="100px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="出院日期" prop="cyrq" min-width="100px" header-align="center" align="left" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?new Date(v).formatDate():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="住院总费用" prop="zyzfy" min-width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="操作" fixed="right" width="90px" header-align="center" align="center">
          <template slot-scope="scope">
            <el-button @click="showMore(scope.row.id)" type="text" size="small" icon="el-icon-search">
              查看明细
            </el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- 点击“实际DRG组数”弹出框 -->
    <el-dialog :title="drgTitle" v-drag :visible.sync="drgDialogVisible" width="80%">
      <el-button icon="fa fa-cloud-download" @click="exportSJTable" class="exportBtn">导出</el-button>
      <kindo-table ref="tableSJBARef" :url="config.api.drg" :queryParam="Object.assign({},searchForm,{ mdcCode:currentRow.jbmmdccode})" :default-sort="{prop: 'drgcode', order: 'ascending'}">
        <el-table-column label="DRG编码" prop="drgcode" width="120px" header-align="center" align="left" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="drgname" min-width="160px" header-align="center" align="left" show-overflow-tooltip></el-table-column>
        <el-table-column label="入组病案数" prop="rzbls" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum(0):'-'}" sortable="custom"></el-table-column>
        <el-table-column label="相对权重" prop="drgrwt" width="120px" header-align="center" align="right" show-overflow-tooltipshow-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="CMI值" prop="cmi" width="130px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="时间消耗指数" width="150px" prop="timesi" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="平均住院日（天)" width="150px" prop="pjzyr" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="费用消耗指数" width="150px" prop="costsi" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="次均费用（元）" width="130px" prop="cjfy" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="死亡人数" prop="swnum" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="风险等级" prop="risk" width="120px" header-align="center" show-overflow-tooltip :formatter="(r,c,v)=>{return kindo.dictionary.getLabel(source.ML_RISK, v)}" sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- 点击“查看”弹出框 -->
    <el-dialog :title="detailTitle" v-drag :visible.sync="mdcDialogVisible" width="80%">
      <el-button icon="fa fa-cloud-download" @click="exportViewTable" class="exportBtn">导出</el-button>
      <kindo-table ref="tableDetailBARef" :url="config.api.view" :queryParam="Object.assign({},searchForm,{ mdcCode:currentRow.jbmmdccode})" :default-sort="{prop: 'jbmmdcnum', order: 'descending'}">
        <el-table-column label="医院名称" prop="memberName" min-width="160px" header-align="center" align="left" show-overflow-tooltip></el-table-column>
        <el-table-column label="入组病案数" prop="jbmmdcnum" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum(0):'-'}" sortable="custom"></el-table-column>
        <el-table-column label="DRG组数" prop="jbmdrgnum" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum(0):'-'}" sortable="custom"></el-table-column>
        <el-table-column label="总权重" prop="jbmrwt" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="CMI值" prop="jbmcmi" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="时间消耗指数" prop="jbmtimesi" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="平均住院日" prop="jbmpjzyr" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="费用消耗指数" prop="jbmcostsi" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="次均费用" prop="jbmcjfy" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="死亡人数" prop="jbmswnum" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="死亡率（%）" prop="jbmswl" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>

    <el-dialog title="病案详情" :visible.sync="dialogVisible" width="90%">
      <KindoPatientInfo :url="config.api.getById" :params="{id: subCurrentRow.id}"></KindoPatientInfo>
    </el-dialog>
  </div>
</template>

<script>
import basePage from '@/mixins/basePage'
import config from './config'
import KindoOrganisation from '../../../../components/kindo-organization/KindoOrganization'
import KindoPatientInfo from '../../../../components/kindo-patientInfo/index'
export default {
  components: { KindoOrganisation, KindoPatientInfo },
  mixins: [basePage],
  data() {
    return {
      config: config,
      searchForm: {
        year: '',
        quarter: '',
        month: '',
        city: '',
        cnty: ''
      },
      // 医院维度附加查询条件
      yySearchForm: {
        zbType: 1
      },
      yyTableData: [],
      activeName: '1',
      dialogVisible: false,
      inDrgDialogVisible: false,
      mdcDialogVisible: false,
      drgDialogVisible: false,
      source: {
        mdcs: [],
        yyzhzb: { 0: 'zhNxzs', 1: 'zhZhzs', 2: 'zhDrgnum', 3: 'zhBls', 4: 'zhRwt', 5: 'zhFwnlzs', 6: 'zhFwxlzs' },
        zsEntity: { 0: 'nxzs', 1: 'zhzs', 2: 'drgnum', 3: 'bls', 4: 'rwt', 5: 'fwnlzs', 6: 'fwxlzs' },
        mdcSouce: [
          { label: '综合绩效指数', value: 1 },
          { label: '能效指数', value: 0 },
          { label: 'DRG组数', value: 2 },
          { label: '病例数', value: 3 },
          { label: '总权重', value: 4 },
          { label: '服务能力指数', value: 5 },
          { label: '服务效率指数', value: 6 }
        ],
        ML_RISK: []
      },
      currentRow: {},
      subCurrentRow: {}
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  async created() {
    // MDC字典
    let resMdcs = await kindo.dictionary.getDictionary('DICT_DYN_MDC')
    this.source.mdcs = resMdcs || []
    // 风险等级
    let resML_RISK = await kindo.dictionary.getDictionary('ML_RISK')
    this.source.ML_RISK = resML_RISK || []
  },
  methods: {
    // mdc维度
    getData: function() {
      this.$refs.tableRef.loadData()
      this.$refs.yyTableRef.loadData()
    },
    // 显示入组病案详情
    showInDrg: function(row) {
      this.currentRow = row
      this.inDrgDialogVisible = true

      this.$nextTick(() => {
        this.$refs.tableRZBARef.reloadData()
      })
    },
    // 显示实际drg病案详情
    showdrgDialogVisible: function(row) {
      this.currentRow = row
      this.drgDialogVisible = true

      this.$nextTick(() => {
        this.$refs.tableSJBARef.reloadData()
      })
    },
    // 显示详情
    showDetail: function(row) {
      this.currentRow = row
      this.mdcDialogVisible = true

      this.$nextTick(() => {
        this.$refs.tableDetailBARef.reloadData()
      })
    },
    exportTable: function() {
      if (this.activeName == '1') {
        let params = Object.assign({ sort: 'jbmmdccode', order: 'asc' }, this.searchForm)
        kindo.util.downloadFile(config.api.exportlistpage, params)
      } else {
        let params = Object.assign({ sort: 'zhzb', order: 'desc' }, this.searchForm, this.yySearchForm)
        kindo.util.downloadFile(config.api.exportyy, params)
      }
    },
    exportInTable: function() {
      kindo.util.downloadFile(config.api.exportrzbas, Object.assign({}, this.searchForm, { mdcCode: this.currentRow.jbmmdccode }))
    },
    exportSJTable: function() {
      kindo.util.downloadFile(config.api.exportdrg, Object.assign({}, this.searchForm, { mdcCode: this.currentRow.jbmmdccode }))
    },
    exportViewTable: function() {
      kindo.util.downloadFile(config.api.exportview, Object.assign({}, this.searchForm, { mdcCode: this.currentRow.jbmmdccode }))
    },
    showMore: async function(id) {
      this.subCurrentRow = { id: id }

      this.dialogVisible = true
    },
    getRankColor: function(seq = 0, tote = 0, count = 3) {
      if (seq > 0 && seq <= count) {
        return 'red'
      } else if (seq > 0 && tote - seq < count) {
        return '#06f206'
      }
      return ''
    },
    getReverseRankColor: function(seq = 0, tote = 0, count = 3) {
      if (seq > 0 && seq <= count) {
        return '#06f206'
      } else if (seq > 0 && tote - seq < count) {
        return 'red'
      }
      return ''
    },
    yyLoadFilter: function(res) {
      if (res.data.rows.length > 0) {
        let tempData = []
        res.data.rows.forEach(rowItem => {
          let tempItem = {}
          // 固定列tote
          tempItem['yyName'] = rowItem.yyName
          tempItem['zyzs'] = rowItem.zyzs
          tempItem['zyzsSequ'] = rowItem.zyzsSequ
          tempItem['qsZys'] = rowItem.qsZys
          tempItem['qsZysSequ'] = rowItem.qsZysSequ
          tempItem['zhzb'] = rowItem[this.source.yyzhzb[this.yySearchForm.zbType]]
          tempItem['zhzbSequ'] = rowItem[this.source.yyzhzb[this.yySearchForm.zbType] + 'Sequ']
          tempItem['tote'] = res.data.total

          // 动态mdc列
          let resMdcList = rowItem.zbTypeList[this.source.zsEntity[this.yySearchForm.zbType]]
          this.source.mdcs.forEach(mdcItem => {
            tempItem[mdcItem.value] = resMdcList[mdcItem.value] !== undefined ? resMdcList[mdcItem.value].value : null
            tempItem[mdcItem.value + 'Sequ'] = resMdcList[mdcItem.value] !== undefined ? resMdcList[mdcItem.value].sequ : null
            tempItem[mdcItem.value + 'Totel'] = resMdcList[mdcItem.value] !== undefined ? resMdcList[mdcItem.value].tote : null
          })
          tempData.push(tempItem)
        })
        res.data.rows = tempData
      }
      return res
    },
    computedZhzb: function(scope) {
      return scope.row[scope.column.property] !== null
        ? this.yySearchForm.zbType === 2 || this.yySearchForm.zbType === 3
          ? scope.row[scope.column.property].formatNum(0)
          : scope.row[scope.column.property].formatNum()
        : '-'
    },
    computedMdcs: function(scope) {
      return scope.row[scope.column.property] !== null
        ? this.yySearchForm.zbType === 2 || this.yySearchForm.zbType === 3
          ? scope.row[scope.column.property].formatNum(0)
          : scope.row[scope.column.property].formatNum()
        : '-'
    }
  },
  watch: {
    'yySearchForm.zbType': function() {
      this.$nextTick(() => {
        // this.$refs.yyTableRef.reloadData()
        this.$refs.yyTableRef.clearSort()
        this.$refs.yyTableRef.sort('zhzb', 'descending')
      })
    }
  },
  computed: {
    inDrgTitle: function() {
      return '入组病案查询'
    },
    drgTitle: function() {
      return this.currentRow.jbmmdccode + ' ' + this.currentRow.jbmmdcname + ' DRG组统计分析'
    },
    detailTitle: function() {
      return this.currentRow.jbmmdccode + ' ' + this.currentRow.jbmmdcname
    }
  }
}
</script>

<style lang="scss" scoped>
.cardWrap /deep/ .hr {
  display: none;
}
.cardWrap .exportHandle {
  position: absolute;
  right: 10px;
  z-index: 3;
}
</style>

