<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="form" label-width="100px" inline>
        <el-form-item label="手术等级">
          <el-select v-model="form.ssfj" clearable>
            <el-option v-for="item in CC06_00_255_00" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="CCHI">
          <!-- <el-autocomplete v-model="form.cchiCode" :fetch-suggestions="querySearchAsync" placeholder="输入CCHI编码或名称" @select="cchiSelect"></el-autocomplete> -->
          <el-input placeholder="输入CCHI编码或名称" v-model="form.cchiValue" />
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="手术等级配置">
      <span v-for="(item,index) in dataTj" :key="index">
        <span v-if="index === 0">合计手术数据
          <span v-text="item.zs" style="color:#009900;">-</span>个；其中</span>
        <span v-else>{{kindo.dictionary.getLabel(source.ssdj, item.ssfj)}}
          <span v-text="item.gs" style="color:#009900;">-</span>个，占{{getNum(item.rate)}}
          <span v-if="index === 4">；</span>
          <span v-else-if="index<5">、</span>
        </span>
      </span>

      <!-- <template v-for="(item,index) in dataTj">
                                              <span style="margin-bottom: 5px;" :key="index">

                                                <span v-if="index === 0">合计手术数据
                                                  <span v-text="item.zs" style="color:#009900;">-</span>个；其中</span>
                                                <span v-text="kindo.dictionary.getLabel(CC06_00_255_00, item.ssfj)">-</span>

                                                <span v-if="index === 4">合计</span>
                                                <span v-text="item.gs" style="color:#009900;">-</span>个，占
                                                <span v-text="getNum(item.rate)">-</span>
                                                <span v-if="index === 3">；</span>
                                                <span v-if="index !== 4 && index !== 3"></span>
                                              </span>
                                            </template> -->
      <kindo-table :url="api.listpage" :queryParam="form" ref="table" :pageSize="20">
        <el-table-column width="120" header-align="center" show-overflow-tooltip label="CCHI" prop="cchiCode"></el-table-column>
        <el-table-column min-width="120" header-align="center" show-overflow-tooltip label="手术操作名称" prop="cchiName"></el-table-column>
        <el-table-column width="100" header-align="center" label="技术难度" prop="jsnd"></el-table-column>
        <el-table-column width="100" header-align="center" label="风险程度" prop="fxcd"></el-table-column>
        <el-table-column width="100" header-align="center" label="手术等级" prop="ssfj"></el-table-column>
        <el-table-column width="80" header-align="center" label="操作" align="center">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="text" size="small" icon="el-icon-edit">
                修改
              </el-button>
              <el-dropdown-menu slot="dropdown" style="min-width:100px;">
                <template v-for="(item,index) in CC06_00_255_00">
                  <el-dropdown-item v-if="index < 4" :key="index">
                    <div @click="update(scope.row, item.value)">{{item.label}}</div>
                  </el-dropdown-item>
                </template>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'pz/ssdjpz/listpage',
        up: kindo.config.api.cDrgKPI + 'pz/ssdjpz/up',
        cchi: kindo.config.api.cDrgKPI + 'pz/ssdjpz/cchi',
        tj: kindo.config.api.cDrgKPI + 'pz/ssdjpz/tj'
      },
      form: {
        ssfj: '',
        cchiValue: ''
      },
      CC06_00_255_00: [],
      dataTj: [],
      source: {
        ssdj: [
          { label: '一级手术', value: 'A' },
          { label: '二级手术', value: 'B' },
          { label: '三级手术', value: 'C' },
          { label: '四级手术', value: 'D' },
          { label: '三四级手术合计', value: 'E' }
        ]
      }
    }
  },
  created() {
    kindo.dictionary.getDictionary('CC06_00_255_00').then(res => {
      this.CC06_00_255_00 = res || []
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
      this.getTj()
    })
  },
  methods: {
    search() {
      this.$refs['table'].reloadData()
    },
    async getTj() {
      let data = await this.$http.get(this.api.tj)
      this.dataTj = data.data.rows
    },
    update(row, value) {
      let params = {
        ssfj: value,
        cchiCode: row.cchiCode
      }
      this.$http.put(this.api.up, params).then(() => {
        kindo.util.alert('修改成功')
        this.search()
        this.getTj()
      })
    },
    getNum(val) {
      if (val) {
        return val.formatNum() + '%'
      } else if (val === 0) {
        return val
      } else {
        return '-'
      }
    },
    async querySearchAsync(queryString, cb) {
      let results = []
      let data = await this.$http.get(this.api.cchi, { params: { cchiValue: queryString } })
      for (let item of data.data.rows) {
        results.push({ value: item.cchiName, label: item.cchiCode })
      }
      cb(results)
    },
    cchiSelect(val) {
      this.form.cchiCode = val.value
    }
  }
}
</script>

