<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="规则类型">
          <el-select v-model="searchForm.gzType" clearable>
            <el-option v-for="(item,index) in dict.gzType" :key="'规则类型：' + index" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="规则名称">
          <el-input placeholder="输入规则名称" v-model="searchForm.gzName" />
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="质控规则">
      <template slot="control">
        <el-button @click="kindo.util.downloadFile(api.exportlistpage, searchForm)" icon="fa fa-cloud-download">导出</el-button>
      </template>
      <kindo-table :url="api.listpage" :queryParam="searchForm" ref="table" :pageSize="20">
        <el-table-column prop="gzType" :formatter="(row,col)=>{return row[col.property] === '1' ? 'HQMS' : 'DRG'}" width="120" header-align="center" show-overflow-tooltip label="规则类型"></el-table-column>
        <el-table-column prop="gzName" min-width="130" header-align="center" show-overflow-tooltip label="规则名称"></el-table-column>
        <el-table-column prop="gzMs" min-width="200" header-align="center" show-overflow-tooltip label="错误描述"></el-table-column>
        <el-table-column width="120" header-align="center" show-overflow-tooltip label="操作" align="center">
          <template slot-scope="scope">
            <el-tooltip :content="scope.row.gzZt === '1' ? '开启' : '关闭'" placement="top">
              <el-switch v-model="scope.row.gzZt" active-value="1" active-color="#13ce66" inactive-value="2" @change="clickEnable(scope.row)"></el-switch>
            </el-tooltip>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'pz/zkgzpz/listpage',
        up: kindo.config.api.cDrgKPI + 'pz/zkgzpz/up',
        exportlistpage: kindo.config.api.cDrgKPI + 'pz/zkgzpz/exportlistpage'
      },
      searchForm: {
        gzType: '',
        gzName: '',
        czType: ''
      },
      dict: {
        gzType: [{ label: 'HQMS规则', value: '1' }, { label: 'DRG规则', value: '0' }],
        DICT_DYN_RULEERR: []
      }
    }
  },
  created() {},
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.$refs['table'].loadData()
    },
    clickEnable(row) {
      let params = { id: row.id, czType: row.gzZt, gzType: row.gzType }
      this.$http.put(this.api.up, params)
    }
  }
}
</script>

