<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </el-form-item>
      </el-form>

      <el-form slot="more" @submit.native.prevent :model="searchForm" label-width="100px" inline>
        <el-form-item label="医院名称">
          <kindo-hospital v-model="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label="机构类型">
          <kindo-orgaType v-model="searchForm.memberTypeCode"></kindo-orgaType>
        </el-form-item>
        <el-form-item label="机构等级">
          <kindo-orgaLevel :levOne.sync="searchForm.memberLevelCode1" :levTwo.sync="searchForm.memberLevelCode2"></kindo-orgaLevel>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="医院指标概览" collapse>
      <div class="cart-top">
        <ul class="text-num">
          <li>
            <div class="icon"><img src="@/assets/icon/icon_total.png" /></div>
            <div class="">
              <div class="label">总病案数</div>
              <div class="value" v-text="getNum(dataSummary.sumnum, 0)">-</div>
            </div>
          </li>
          <li>
            <div class="icon"><img src="@/assets/icon/icon_zrbas.png" /></div>
            <div class="">
              <div class="label">入组病案数</div>
              <div class="value" v-text="getNum(dataSummary.ingruop, 0)">-</div>
            </div>
          </li>
          <li>
            <div class="icon"><img src="@/assets/icon/icon_hgbas.png" /></div>
            <div class="">
              <div class="label">合格病案数</div>
              <div class="value" v-text="getNum(dataSummary.normalnum, 0)">-</div>
            </div>
          </li>
          <li>
            <div class="icon"><img src="@/assets/icon/icon_wtbas.png" /></div>
            <div class="">
              <div class="label">问题病案数</div>
              <div>
                <div class="value" v-text="getNum(dataSummary.errornum, 0)" style="float: left;">-</div>
                <el-button type="text" :icon="wtbaVisibal ? 'el-icon-caret-bottom' : 'el-icon-caret-top'" class="arrow" @click="wtbaVisibal = !wtbaVisibal"></el-button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <el-row :gutter="10">
        <el-col :span="16">
          <div class="kpi">
            <div class="header">
              <div class="title">DRG指标</div>
            </div>
            <div class="content" style="height: 636px;">
              <div class="item">
                <el-row :gutter="70">
                  <el-col :span="14">
                    <div class="name"><img class="icon" src="@/assets/icon/icon_pc.png" />产能</div>
                    <ul>
                      <li>
                        <span class="label">DRG组数</span>
                        <span class="value" v-text="getNum(dataSummary.drgzs, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.drgzsLastPeriod)" v-text="getPercent(dataSummary.drgzsLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">CMI值</span>
                        <span class="value" v-text="getNum(dataSummary.drgcmizs)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.drgcmizsLastPeriod)" v-text="getPercent(dataSummary.drgcmizsLastPeriod)">-</span>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="10">
                    <kindo-chart :options="chartDrg" autoResize style="min-height:80px;"></kindo-chart>
                  </el-col>
                </el-row>
              </div>
              <div class="item">
                <el-row :gutter="70">
                  <el-col :span="14">
                    <div class="name"><img class="icon" src="@/assets/icon/icon_effectiveness.png" />效率</div>
                    <ul>
                      <li>
                        <span class="label">时间消耗指数</span>
                        <span class="value" v-text="getNum(dataSummary.sjxhzs)">-</span>
                        <span class="perce" :class="getPeriodReverseClass(dataSummary.sjxhzsLastPeriod)" v-text="getPercent(dataSummary.sjxhzsLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">费用消耗指数</span>
                        <span class="value" v-text="getNum(dataSummary.fyxhzs)">-</span>
                        <span class="perce" :class="getPeriodReverseClass(dataSummary.fyxhzsLastPeriod)" v-text="getPercent(dataSummary.fyxhzsLastPeriod)">-</span>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="10">
                    <kindo-chart :options="chartXl" autoResize style="min-height:80px;"></kindo-chart>
                  </el-col>
                </el-row>
              </div>
              <div class="item">
                <el-row :gutter="70">
                  <el-col :span="14">
                    <div class="name"><img class="icon" src="@/assets/icon/icon_safety.png" />安全</div>
                    <ul>
                      <li>
                        <span class="label">低风险组死亡率</span>
                        <span class="value" v-text="getPercent(dataSummary.lowswzs)">-</span>
                        <span class="perce" :class="getPeriodReverseClass(dataSummary.lowswzsLastPeriod)" v-text="getPercent(dataSummary.lowswzsLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">中低风险组死亡率</span>
                        <span class="value" v-text="getPercent(dataSummary.medswzs)">-</span>
                        <span class="perce" :class="getPeriodReverseClass(dataSummary.medswzsLastPeriod)" v-text="getPercent(dataSummary.medswzsLastPeriod)">-</span>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="10">
                    <kindo-chart :options="chartAq" autoResize style="min-height:80px;"></kindo-chart>
                  </el-col>
                </el-row>
              </div>
              <div class="item">
                <el-row :gutter="70">
                  <el-col :span="14">
                    <div class="name"><img class="icon" src="@/assets/icon/icon_difficult-medical.png" />疑难病案数</div>
                    <ul>
                      <li>
                        <span class="label">{{source.rwts.rwRangeExpression_1}}</span>
                        <span class="value" v-text="getNum(dataSummary.rw1num, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.rw1numLastPeriod)" v-text="getPercent(dataSummary.rw1numLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">{{source.rwts.rwRangeExpression_2}}</span>
                        <span class="value" v-text="getNum(dataSummary.rw2num, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.rw2numLastPeriod)" v-text="getPercent(dataSummary.rw2numLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">{{source.rwts.rwRangeExpression_3}}</span>
                        <span class="value" v-text="getNum(dataSummary.rw3num, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.rw3numLastPeriod)" v-text="getPercent(dataSummary.rw3numLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">{{source.rwts.rwRangeExpression_4}}</span>
                        <span class="value" v-text="getNum(dataSummary.rw4num, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.rw4numLastPeriod)" v-text="getPercent(dataSummary.rw4numLastPeriod)">-</span>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="10">
                    <kindo-chart :options="chartYnbl" autoResize style="min-height:115px;"></kindo-chart>
                  </el-col>
                </el-row>
              </div>
              <div class="item">
                <el-row :gutter="70">
                  <el-col :span="14">
                    <div class="name"><img class="icon" src="@/assets/icon/icon_surgical.png" />外科能力</div>
                    <ul>
                      <li>
                        <span class="label">三级手术</span>
                        <span class="value" v-text="getNum(dataSummary.threenum, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.threenumLastPeriod)" v-text="getPercent(dataSummary.threenumLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">四级手术</span>
                        <span class="value" v-text="getNum(dataSummary.fournum, 0)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.fournumLastPeriod)" v-text="getPercent(dataSummary.fournumLastPeriod)">-</span>
                      </li>
                      <li>
                        <span class="label">三四级手术占比</span>
                        <span class="value" v-text="getPercent(dataSummary.threefour)">-</span>
                        <span class="perce" :class="getPeriodClass(dataSummary.threefourLastPeriod)" v-text="getPercent(dataSummary.threefourLastPeriod)">-</span>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="10">
                    <kindo-chart :options="chartWknl" autoResize style="min-height:95px;"></kindo-chart>
                  </el-col>
                </el-row>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="wtba" v-show="wtbaVisibal">
            <ul class="text-num">
              <li>
                <div class="label">
                  <i class="icon" style="background-color: #3db522;"></i>HQMS校验</div>
                <div class="value" v-text="getNum(dataSummary.hqmsnum, 0)">-</div>
              </li>
              <li>
                <div class="label">
                  <i class="icon" style="background-color: #91d582;"></i>DRG校验</div>
                <div class="value" v-text="getNum(dataSummary.drgnum, 0)">-</div>
              </li>
            </ul>
            <kindo-chart :options="chartQc" autoResize style="min-height:90px;"></kindo-chart>
          </div>
          <div class="kpi">
            <div class="header">传统指标</div>
            <div class="content" style="height:337px">
              <div class="item">
                <div class="name"><img class="icon" src="@/assets/icon/icon_pc.png" />产能</div>
                <ul>
                  <li>
                    <span class="label">病案数</span>
                    <span class="value" v-text="getNum(dataSummary.banum, 0)">-</span>
                    <span class="perce" :class="getPeriodClass(dataSummary.banumLastPeriod)" v-text="getPercent(dataSummary.banumLastPeriod)">-</span>
                  </li>
                  <li>
                    <span class="label">总费用（{{dataSummary.unit}}）</span>
                    <span class="value" v-text="getNum(dataSummary.zfy)">-</span>
                    <span class="perce" :class="getPeriodClass(dataSummary.zfyLastPeriod)" v-text="getPercent(dataSummary.zfyLastPeriod)">-</span>
                  </li>
                </ul>
              </div>
              <div class="item">
                <div class="name"><img class="icon" src="@/assets/icon/icon_effectiveness.png" />效率</div>
                <ul>
                  <li>
                    <span class="label">平均住院日</span>
                    <span class="value" v-text="getNum(dataSummary.pjzyts)">-</span>
                    <span class="perce" :class="getPeriodReverseClass(dataSummary.pjzytsLastPeriod)" v-text="getPercent(dataSummary.pjzytsLastPeriod)">-</span>
                  </li>
                  <li>
                    <span class="label">次均费用</span>
                    <span class="value" v-text="getNum(dataSummary.cjfy)">-</span>
                    <span class="perce" :class="getPeriodReverseClass(dataSummary.cjfyLastPeriod)" v-text="getPercent(dataSummary.cjfyLastPeriod)">-</span>
                  </li>
                </ul>
              </div>
              <div class="item">
                <div class="name"><img class="icon" src="@/assets/icon/icon_quality.png" />质量</div>
                <ul>
                  <li>
                    <span class="label">死亡率</span>
                    <span class="value" v-text="getPercent(dataSummary.swl)">-</span>
                    <span class="perce" :class="getPeriodReverseClass(dataSummary.swlLastPeriod)" v-text="getPercent(dataSummary.swlLastPeriod)">-</span>
                  </li>
                  <li>
                    <span class="label">2周内再住院率</span>
                    <span class="value" v-text="getPercent(dataSummary.lzzzyl)">-</span>
                    <span class="perce" :class="getPeriodReverseClass(dataSummary.lzzzylLastPeriod)" v-text="getPercent(dataSummary.lzzzylLastPeriod)">-</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="drgNum" :class="wtbaVisibal ? 'other' : ''">
            <div class="all">
              <div class="icon"><img src="@/assets/icon/icon_disappear-groups.png" /></div>
              <div class="txt">
                <span class="label">新增DRG组数</span>
                <span class="value" v-text="drgNumData.drgadd">-</span>
              </div>
            </div>
            <ul class="list" v-show="wtbaVisibal ? false : true">
              <li v-for="item in drgNumData.drgAddDetail" :key="item.code">
                <span class="code" v-text="item.drgcode"></span>
                <span class="name" v-text="item.drgname"></span>
                <span class="num" v-text="item.drgnum"></span>
              </li>
            </ul>
            <div class="all">
              <div class="icon"><img src="@/assets/icon/icon_add groups.png" /></div>
              <div class="txt">
                <span class="label">消失DRG组数</span>
                <span class="value" v-text="drgNumData.drgreduce">-</span>
              </div>
            </div>
            <ul class="list" v-show="wtbaVisibal ? false : true">
              <li v-for="item in drgNumData.drgReduceDetail" :key="item.code">
                <span class="code" v-text="item.drgcode"></span>
                <span class="name" v-text="item.drgname" :title="item.drgname"></span>
                <span class="num" v-text="item.drgnum"></span>
              </li>
            </ul>
          </div>
        </el-col>
      </el-row>
    </kindo-card>

    <el-row :gutter="10">
      <el-col :xs="24" :sm="24" :md="10">
        <kindo-card title="病案费用结构" style="height:465px">
          <kindo-chart :options="pie" ref="pie" autoResize></kindo-chart>
        </kindo-card>
      </el-col>
      <el-col :xs="24" :sm="24" :md="14">
        <kindo-card :title="tabsBtn" style="height:465px">
          <template slot="control">
            <el-radio-group v-model="tabsBtn" style="margin-right:10px;">
              <el-radio-button label="医院排名">医院排名</el-radio-button>
              <el-radio-button label="科室排名">科室排名</el-radio-button>
            </el-radio-group>
            <el-button v-show="tabsBtn === '医院排名'" style="float:right;" @click="exportTable(api.hospitalExport, searchForm)" icon="fa fa-cloud-download">导出</el-button>
            <el-button v-show="tabsBtn === '科室排名'" style="float:right;" @click="exportTable(api.deptExport, searchForm)" icon="fa fa-cloud-download">导出</el-button>
          </template>

          <!-- <el-table v-show="tabsBtn === '医院排名'" :url="api.hospitalIndex" :queryParam="searchForm" ref="hos" style="width: 100%" :pagination="false"> -->
          <el-table v-show="tabsBtn === '医院排名'" :data="hosPM">
            <el-table-column v-if="userInfo.orgaType !== 'HOS'" label="排名" align="center" width="80px" :formatter="(row,col,cellValue, index)=>{return 'TOP' + (index + 1)}">
              <!-- <template slot-scope="scope">
                                                                <span v-text="'TOP' + scope.row.index">TOP</span>
                                                              </template> -->
            </el-table-column>
            <el-table-column prop="hosname" label="医院名称" min-width="100" show-overflow-tooltip header-align="center"></el-table-column>
            <el-table-column prop="zhjx" label="综合绩效" width="100" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}" header-align="center"></el-table-column>
            <el-table-column prop="zyzs" label="专业总数" width="100" align="right" header-align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="showMdc(scope.row)">{{ scope.row.zyzs }}</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="qszyzs" label="缺失专业数" width="100" align="right" header-align="center"></el-table-column>
            <el-table-column prop="drgzs" label="DRG组数" width="100" align="right" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" header-align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="showDrg(scope.row)">{{ getNum(scope.row.drgzs, 0)}}</el-button>
              </template>
            </el-table-column>
          </el-table>

          <!-- <el-table v-show="tabsBtn === '科室排名'" :url="api.deptIndex" :queryParam="searchForm" ref="dept" style="width: 100%" :pagination="false"> -->
          <el-table v-show="tabsBtn === '科室排名'" style="width: 100%" :data="deptPM">
            <el-table-column label="排名" align="center" width="80px" :formatter="(row,col,cellValue, index)=>{return 'TOP' + (index + 1)}"></el-table-column>
            <el-table-column prop="deptname" label="科室名称" min-width="100" show-overflow-tooltip header-align="center"></el-table-column>
            <el-table-column prop="zhjx" label="综合绩效" width="150" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}" header-align="center"></el-table-column>
            <el-table-column prop="drgzs" label="DRG组数" width="100" align="right" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" header-align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="showDrg(scope.row)">{{ getNum(scope.row.drgzs, 0) }}</el-button>
              </template>
            </el-table-column>
          </el-table>
        </kindo-card>
      </el-col>
    </el-row>

    <!-- DRG组数 -->
    <el-dialog v-drag :visible.sync="drgVisibal" width="80%" title="DRG组数查询">
      <el-button class="exportBtn" @click="exportTable(api.drgExport, drgForm)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.drg" :queryParam="drgForm" ref="drg">
        <el-table-column label="DRG编码" width="80" prop="drgcode" header-align="center"></el-table-column>
        <el-table-column label="DRG名称" prop="drgname" min-width="140" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="入组病案数" prop="rzbls" width="130" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" align="right" header-align="center"></el-table-column>
        <el-table-column label="相对权重" width="100" prop="drgrwt" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="CMI值" width="90" prop="cmi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="时间消耗指数" width="130" prop="timesi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="平均住院日（天）" width="140" prop="pjzyr" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="费用消耗指数" width="130" prop="costsi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="次均费用（元）" width="130" prop="cjfy" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="死亡人数" width="100" prop="swnum" align="right" header-align="center"></el-table-column>
        <el-table-column label="风险等级" width="100" prop="risk" :formatter="(row,col)=>{return kindo.dictionary.getLabel(dict.ML_RISK, row[col.property])}" header-align="center"></el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- MDC -->
    <el-dialog v-drag :visible.sync="mdcVisibal" width="80%" title="MDC统计分析">
      <el-button class="exportBtn" @click="exportTable(api.HosMDCExport, mdcForm)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.queryHosMDC" :queryParam="mdcForm" ref="mdc">
        <el-table-column label="MDC编码" width="80" prop="jbmmdccode" header-align="center"></el-table-column>
        <el-table-column label="MDC名称" prop="jbmmdcname" min-width="140" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="入组病案数" prop="jbmmdcnum" width="120" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" align="right" header-align="center"></el-table-column>
        <el-table-column label="标准DRG组数" prop="jbmbdrgnum" width="120" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" align="right" header-align="center"></el-table-column>
        <el-table-column label="实际DRG组数" prop="jbmdrgnum" width="120" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" align="right" header-align="center"></el-table-column>
        <el-table-column label="总权重" width="90" prop="jbnrwt" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="CMI值" width="90" prop="jbmcmi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="时间消耗指数" width="120" prop="jbmtimesi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="平均住院日（天）" width="130" prop="jbmpjzyr" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="费用消耗指数" width="120" prop="jbmcostsi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="次均费用（元）" width="120" prop="jbmcjfy" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center"></el-table-column>
        <el-table-column label="死亡人数" width="100" prop="jbmswnum" align="right" header-align="center"></el-table-column>
        <el-table-column label="死亡率（%）" width="120" prop="jbmswl" align="right" header-align="center" :formatter="(row,col)=>{return getNum(row[col.property])}"></el-table-column>
      </kindo-table>
    </el-dialog>
  </div>
</template>
<script>
import { user } from '@/type.js'

import KindoOrganization from '@/components/kindo-organization/KindoOrganization'
import KindoOrgaLevel from '@/components/kindo-orgaLevel/KindoOrgaLevel'
import KindoOrgaType from '@/components/kindo-orgaType/KindoOrgaType'
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
export default {
  components: {
    'kindo-organization': KindoOrganization,
    'kindo-hospital': KindoHosptial,
    'kindo-orgaLevel': KindoOrgaLevel,
    'kindo-orgaType': KindoOrgaType
  },
  data() {
    return {
      api: {
        summary: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/QueryColligateQuota',
        deptIndex: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/deptIndex',
        hospitalIndex: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/hospitalIndex',
        queryHosMDC: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/queryHosMDC',
        QueryDrgCharts: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/QueryDrgCharts',
        QueryDrgNum: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/QueryDrgNum',

        hospitalExport: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/hospital/export',
        deptExport: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/Dept/export',
        HosMDCExport: kindo.config.api.cDrgDAC + 'dataCenter/leaderView/HosMDC/export',

        queryRwtRangeStr: kindo.config.api.cDrgKPI + '/drgjx/hosdifficult/hospital/queryRwtRangeStr',

        drg: '',
        drgExport: '',
        bnfyjg: kindo.config.api.cDrgDAC + '/dataCenter/leaderView/bnfyjg'
      },
      dict: {
        OT_04: [],
        ML_RISK: []
      },
      pie: {
        color: ['#0587e7', '#20d3f3', '#8cc34c', '#f8b42f', '#e7398e', '#f23c24', '#21b5f3', '#2196f3'],
        legend: {
          bottom: 30,
          left: 'center',
          data: ['药品类', '综合服务类', '诊断类', '治疗类', '血液和血液品类', '材料类', '其他', '中医类', '康复类']
        },
        tooltip: {
          formatter: function(para) {
            return para.name + ': ' + kindo.util.formatNum(para.value) + '万元'
          },
          trigger: 'item'
        },
        series: {
          type: 'pie',
          radius: '45%',
          center: ['50%', '40%'],
          data: [],
          label: {
            formatter: function(para) {
              return para.name + '：' + kindo.util.formatNum(para.percent) + '%'
            }
          },
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      },
      tabsBtn: '医院排名',

      searchForm: {
        year: '',
        quarter: '',
        month: '',
        city: '',
        cnty: '',
        memberLevelCode1: '',
        memberLevelCode2: '',
        memberTypeCode: '',
        memberCode: ''
      },
      dataSummary: {},

      drgForm: {},
      drgVisibal: false,

      mdcForm: {},
      mdcVisibal: false,

      wtbaVisibal: true,

      chartDrg: null,
      chartXl: null,
      chartAq: null,
      chartYnbl: null,
      chartWknl: null,
      chartQc: null,

      drgNumData: [],

      deptPM: [],
      hosPM: [],

      source: {
        rwts: {}
      },
      userInfo: kindo.cache.get(user.USER_INFO, 'local')
    }
  },
  async created() {
    let rwtData = await this.$http.get(this.api.queryRwtRangeStr)
    this.source.rwts = rwtData.data[0]

    this.getDictionary('dict')
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    loadTable(table) {
      this.$refs[table].reloadData()
    },
    getDictionary(obj) {
      for (let k in this[obj]) {
        if (this[obj].hasOwnProperty(k)) {
          kindo.dictionary.getDictionary(k).then(res => {
            this[obj][k] = res || []
          })
        }
      }
    },
    async search() {
      this.getSummary()
      this.setChart()
      this.queryDrgNum()
      let dept = await this.$http.get(this.api.deptIndex, { params: this.searchForm })
      let hos = await this.$http.get(this.api.hospitalIndex, { params: this.searchForm })
      this.deptPM = dept.data
      this.hosPM = hos.data
      // this.$refs['hos'].reloadData()
      // this.$refs['dept'].reloadData()
    },
    async getSummary() {
      let data = await this.$http.get(this.api.summary, { params: this.searchForm })
      this.dataSummary = data.data
      this.setChartPie()
    },
    async setChartPie() {
      let res = await this.$http.get(this.api.bnfyjg, { params: this.searchForm })
      let data = res.data
      this.pie.series.data = [
        {
          value: (data && data.ypfy) ? (data.ypfy / 10000).toFixed(4) : 0,
          name: '药品类'
        },
        {
          value: (data &&data.zhfy) ? (data.zhfy / 10000).toFixed(4) : 0,
          name: '综合服务类'
        },
        {
          value: (data &&data.zdfy) ? (data.zdfy / 10000).toFixed(4) : 0,
          name: '诊断类'
        },
        {
          value: (data &&data.zlfy) ? (data.zlfy / 10000).toFixed(4) : 0,
          name: '治疗类'
        },
        {
          value: (data &&data.xyfy) ? (data.xyfy / 10000).toFixed(4) : 0,
          name: '血液和血液品类'
        },
        {
          value: (data &&data.clfy) ? (data.clfy / 10000).toFixed(4) : 0,
          name: '材料类'
        },
        {
          value: (data &&data.qtfy) ? (data.qtfy / 10000).toFixed(4) : 0,
          name: '其他'
        },
        {
          value: (data &&data.zylfy) ? (data.zylfy / 10000).toFixed(4) : 0,
          name: '中医类'
        },
        {
          value: (data &&data.kffy) ? (data.kffy / 10000).toFixed(4) : 0,
          name: '康复类'
        }
      ]
    },
    async setChart() {
      let xAxis = []
      let drgzs = []
      let sjxhzs = []
      let medswzs = []
      let threefour = []
      let rw1num = []
      let data = await this.$http.get(this.api.QueryDrgCharts, { params: this.searchForm })
      data = data.data
      let drgchart = data.drgchart.reverse()
      for (let item of drgchart) {
        xAxis.push(item.times)
        drgzs.push(item.drgzs)
        sjxhzs.push(this.getNum(item.sjxhzs))
        medswzs.push(this.getNum(item.medswzs))
        rw1num.push(item.rw1num)
        threefour.push(this.getNum(item.threefour))
      }

      this.chartDrg = this.getChart('DRG组数')
      this.chartDrg.xAxis.data = xAxis
      this.chartDrg.series = [{ type: 'line', symbolSize: 1, smooth: true, areaStyle: {}, data: drgzs }]

      this.chartXl = this.getChart('时间消耗指数')
      this.chartXl.xAxis.data = xAxis
      this.chartXl.series = [{ type: 'bar', barWidth: '50%', barMaxWidth: '30', data: sjxhzs }]

      this.chartAq = this.getChart('中低风险组死亡率（%）')
      this.chartAq.xAxis.data = xAxis
      this.chartAq.series = [{ type: 'line', symbolSize: 1, smooth: true, data: medswzs }]

      this.chartYnbl = this.getChart(this.source.rwts.rwRangeExpression_1)
      this.chartYnbl.xAxis.data = xAxis
      this.chartYnbl.series = [{ type: 'bar', barWidth: '50%', barMaxWidth: '30', data: rw1num }]

      this.chartWknl = this.getChart('三四级手术占比（%）')
      this.chartWknl.xAxis.data = xAxis
      this.chartWknl.series = [{ type: 'line', symbolSize: 1, smooth: true, data: threefour }]

      let hqmsnum = []
      let drgnum = []
      let qcchart = data.qcchart.reverse()
      for (let item of qcchart) {
        // qcxAxis.push(item.times)
        hqmsnum.push(item.hqmsnum)
        drgnum.push(item.drgnum)
      }
      this.chartQc = this.getChart()
      this.chartQc.tooltip.formatter = '{b0}<br/>HQMS校验: {c0}<br/>DRG校验: {c1}'
      this.chartQc.xAxis.data = xAxis
      this.chartQc.color = ['#3db522', '#91d582']
      this.chartQc.series = [{ type: 'bar', barWidth: '50%', z: 10, data: hqmsnum }, { type: 'bar', barWidth: '50%', barGap: '-100%', data: drgnum }]
    },
    async queryDrgNum() {
      let data = await this.$http.get(this.api.QueryDrgNum, { params: this.searchForm })
      this.drgNumData = data.data
    },
    getChart(tipTitle = '') {
      return {
        tooltip: {
          // show: false,
          trigger: 'axis',
          axisPointer: {
            type: 'shadow',
            shadowStyle: { color: 'rgba(0, 0, 0, 0)' }
          },
          formatter: '{b0}<br/>' + tipTitle + ': {c0}'
        },
        grid: {
          top: 0,
          left: 0,
          right: 0,
          bottom: 0
        },
        xAxis: {
          show: false,
          type: 'category',
          data: [],
          splitLine: {
            show: false
          }
        },
        yAxis: {
          show: false,
          type: 'value',
          splitLine: {
            show: false
          }
        },
        series: []
      }
    },
    getPeriodReverseClass(val) {
      if (val && val !== 0) {
        if (val > 0) {
          return 'up'
        } else {
          return 'down'
        }
      } else {
        return ''
      }
    },
    getPeriodClass(val) {
      if (val && val !== 0) {
        if (val < 0) {
          return 'up1'
        } else {
          return 'down1'
        }
      } else {
        return ''
      }
    },
    getNum(val, precision = 2) {
      if (val || val === 0) {
        return val.formatNum(precision)
      } else {
        return '-'
      }
    },
    getPercent(val) {
      if (val) {
        if (val < 0) {
          val = parseFloat(val.toString().replace('-', ''))
        }
        return val.formatNum() + '%'
      } else if (val === 0) {
        return val.formatNum()
      } else {
        return '-'
      }
    },
    showDrg(row) {
      this.drgForm = Object.assign({}, this.searchForm)
      if (row.hasOwnProperty('hosid')) {
        this.drgForm.yyCode = row.hosid
        this.api.drg = kindo.config.api.cDrgKPI + 'qyjxpj/yy/drg'
        this.api.drgExport = kindo.config.api.cDrgKPI + 'qyjxpj/yy/exportdrg'
      } else if (row.hasOwnProperty('deptcode')) {
        this.drgForm.deptCode = row.deptcode
        this.api.drg = kindo.config.api.cDrgDAC + 'dataCenter/leaderView/deptQueryDrg'
        this.api.drgExport = kindo.config.api.cDrgDAC + 'dataCenter/leaderView/Drg/export'
      }
      this.drgVisibal = true
      this.$nextTick(() => {
        this.loadTable('drg')
      })
    },
    showMdc(row) {
      let search = this.searchForm
      this.mdcForm = {
        year: search.year,
        quarter: search.quarter,
        month: search.month,
        memberCode: row.hosid
      }
      this.mdcVisibal = true
      this.$nextTick(() => {
        this.loadTable('mdc')
      })
    },
    exportTable(url, params) {
      kindo.util.downloadFile(url, params)
    }
  },
  watch: {}
}
</script>
<style lang="scss" scope>
@import '../../assets/css/cockpit.scss';
</style>