<template>
  <kindo-table :url="query" :queryParam="value" ref="table" :default-sort="{prop:'bah',order:'descending'}">
    <el-table-column label="医院名称" prop="memberName" show-overflow-tooltip min-width="150" fixed="left" sortable="custom"></el-table-column>
    <el-table-column label="病案号" prop="bah" width="110" sortable="custom"></el-table-column>
    <el-table-column label="住院次数" prop="" width="110"></el-table-column>
    <el-table-column label="数据接收日期" prop="" width="130" sortable="custom"></el-table-column>
    <el-table-column label="状态" prop="" width="110" sortable="custom"></el-table-column>
    <el-table-column label="错误名称" prop="" width="110"></el-table-column>
    <el-table-column label="操作" width="130" align="center" fixed="right">
      <template slot-scope="scope">
        <el-button type="text" icon="el-icon-search" @click="showTable(scope.row, 'detailDepartment', 'detail')">明细</el-button>
      </template>
    </el-table-column>
  </kindo-table>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      query: kindo.config.api + 'pz/rwtpz/listpage'
    }
  },
  mounted() {
    this.$nextTick(() => {
      // this.$refs['table'].loadData()
    })
  },
  watch: {
    'value': function() {
      this.$refs['table'].loadData()
    }
  }
}
</script>

