<template>
  <div>
    <kindo-card title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="70px">
        <el-row>
          <el-col :span="6">
            <el-form-item label="组织机构">
              <kindo-organization :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="医院名称">
              <kindo-hospital v-model="searchForm.memberCode"></kindo-hospital>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据接收日期" label-width="100px">
              <kindo-data-range v-model="searchForm.date"></kindo-data-range>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状态">
              <el-select v-model="searchForm.status" clearable>
                <el-option v-for="(item,index) in dict.OT_04" :key="'机构类型' + index" :label="item.label" :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="病案号">
              <el-input v-model="searchForm.bah"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="text-align: right">
            <el-button type="primary" icon="el-icon-search" @click="search()">查询</el-button>
          </el-col>
        </el-row>
      </el-form>
    </kindo-card>
    <kindo-card title="" collapse>
      <template slot="control">
        <el-radio-group v-model="currentTab" @change="tabsChange">
          <el-radio-button v-for="item in tabs" :key="item.label" :label="item.component">{{item.label}}</el-radio-button>
        </el-radio-group>
      </template>
      <keep-alive>
        <component v-bind:is="currentTabComponent" v-model="params"></component>
      </keep-alive>
    </kindo-card>
  </div>
</template>

<script>
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
import KindoOrganization from '@/components/kindo-organization/KindoOrganization'
import KindoDateRange from '@/components/kindo-date-range/index'
import hos from './hos'
import dept from './dept'
import hosDept from './hosDept'
import treatmentGroup from './treatmentGroup'
import staffInfo from './staffInfo'
import ba from './ba'
export default {
  components: {
    'kindo-hospital': KindoHosptial,
    'kindo-organization': KindoOrganization,
    'kindo-data-range': KindoDateRange,
    'tab-hos': hos,
    'tab-dept': dept,
    'tab-hosDept': hosDept,
    'tab-treatmentGroup': treatmentGroup,
    'tab-staffInfo': staffInfo,
    'tab-ba': ba
  },
  data() {
    return {
      api: {
        listpage: kindo.config.api + 'pz/rwtpz/listpage',
        use: kindo.config.api + 'pz/rwtpz/use',
        drgname: kindo.config.api + 'pz/rwtpz/drgname'
      },
      searchForm: {
        city: '',
        cnty: '',
        memberCode: '',
        date: '',
        status: '',
        bah: ''
      },
      params: {},
      dict: {
        mdcCategory: []
      },
      tabs: [
        { label: '医院接收', component: 'hos' },
        { label: '科室组接收', component: 'dept' },
        { label: '院内科室接收', component: 'hosDept' },
        { label: '治疗组接收', component: 'treatmentGroup' },
        { label: '员工信息接收', component: 'staffInfo' },
        { label: '病案接收', component: 'ba' }
      ],
      currentTab: '医院接收',
      currentTabComponent: 'tab-hos'
    }
  },
  methods: {
    search() {
      Object.assign(this.params, this.searchForm)
    },
    tabsChange(val) {
      this.currentTabComponent = 'tab-' + val
    }
  }
}
</script>

