<template>
  <kindo-card title="综合绩效指数配置">
    <el-form :model="form" ref="form" :rules="formRules" label-width="120px" inline>
      <div class="flex">
        <div>综合绩效指数 =</div>
        <div>
          <div>某医院DRG组数</div><hr class="hr"/>
          <div>平均DRG组数</div>
        </div>
        <div>
          <span>*</span>
          <el-form-item
            style="margin: 10px 0"
            label=""
            prop="qzValue0">
            <el-input v-model.trim="form.qzValue0" style="width:70px;" :disabled="disabled" placeholder="权重"></el-input>
          </el-form-item>
          <span>+</span>
        </div>
        <div>
          <div>某医院CMI值</div><hr class="hr"/>
          <div>平均CMI值</div>
        </div>
        <div>
          <span>*</span>
          <el-form-item
            style="margin: 10px 0"
            label=""
            prop="qzValue1">
            <el-input v-model.trim="form.qzValue1" style="width:70px;" :disabled="disabled" placeholder="权重"></el-input>
          </el-form-item>
          <span>+</span>
        </div>
        <div>
          <div>1</div><hr class="hr"/>
          <div>资源消耗指数</div>
        </div>
        <div>
          <span>*</span>
          <el-form-item
            style="margin: 10px 0"
            label=""
            prop="qzValue2">
            <el-input v-model.trim="form.qzValue2" style="width:70px;" :disabled="disabled" placeholder="权重"></el-input>
          </el-form-item>
          <span>+</span>
        </div>
        <div>
          <div>1</div><hr class="hr"/>
          <div>时间消耗指数</div>
        </div>
        <div>
          <span>*</span>
          <el-form-item
            style="margin: 10px 0"
            label=""
            prop="qzValue3">
            <el-input v-model.trim="form.qzValue3" style="width:70px;" :disabled="disabled" placeholder="权重"></el-input>
          </el-form-item>
          <span>+</span>
        </div>
        <div>
          质量系数
        </div>
        <div>
          <span>*</span>
          <el-form-item
            style="margin: 10px 0"
            label=""
            prop="qzValue4">
            <el-input v-model.trim="form.qzValue4" style="width:70px;" :disabled="disabled" placeholder="权重"></el-input>
          </el-form-item>
        </div>
        <div>
          <el-button v-show="disabled === true" type="primary" round icon="el-icon-edit" @click="disabled = false"></el-button>
          <el-button v-show="disabled !== true" type="success" round icon="el-icon-check" @click="update"></el-button>
          <el-button v-show="disabled !== true" type="danger" round icon="el-icon-close" @click="cancle"></el-button>
        </div>
      </div>
    </el-form>
  </kindo-card>
</template>
<script>
export default {
  data() {
    return {
      api: {
        get: kindo.config.api.cDrgKPI + 'pz/zhjxzspz/get',
        up: kindo.config.api.cDrgKPI + 'pz/zhjxzspz/up',
      },
      disabled: true,
      form: {
        qzValue0: 1,
        qzValue1: 1,
        qzValue2: 1,
        qzValue3: 1,
        qzValue4: 1
      },
      formRules: {
        qzValue0: [
          { required: true, message: '不能为空'}, 
          { validator: (rule, value, callback) => {
              if (!/^\d+(\.\d{1,2})?$/.test(value)) {
                callback(new Error('请输入精度为两位小数以内的正数'))
              } else {
                callback();
              }
            },
            trigger: 'change'
          }
        ],
        qzValue1: [
          { required: true, message: '不能为空'}, 
          { validator: (rule, value, callback) => {
              if (!/^\d+(\.\d{1,2})?$/.test(value)) {
                callback(new Error('请输入精度为两位小数以内的正数'))
              } else {
                callback();
              }
            },
            trigger: 'change'
          }
        ],
        qzValue2: [
          { required: true, message: '不能为空'}, 
          { validator: (rule, value, callback) => {
              if (!/^\d+(\.\d{1,2})?$/.test(value)) {
                callback(new Error('请输入精度为两位小数以内的正数'))
              } else {
                callback();
              }
            },
            trigger: 'change'
          }
        ],
        qzValue3: [
          { required: true, message: '不能为空'}, 
          { validator: (rule, value, callback) => {
              if (!/^\d+(\.\d{1,2})?$/.test(value)) {
                callback(new Error('请输入精度为两位小数以内的正数'))
              } else {
                callback();
              }
            },
            trigger: 'change'
          }
        ],
        qzValue4: [
          { required: true, message: '不能为空'}, 
          { validator: (rule, value, callback) => {
              if (!/^\d+(\.\d{1,2})?$/.test(value)) {
                callback(new Error('请输入精度为两位小数以内的正数'))
              } else {
                callback();
              }
            },
            trigger: 'change'
          }
        ]
      },
      code: {
        qzCode0: '',
        qzCode1: '',
        qzCode2: '',
        qzCode3: '',
        qzCode4: ''
      },
      copyVal: {}
    }
  },
  created() {
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    async search() {
      let data = await this.$http.get(this.api.get)
      data = data.data.rows
      for (let i in data) {
        this.form['qzValue' + i] = parseFloat(data[i].qzValue)
        this.code['qzCode' + i] = data[i].qzCode
      }
      this.copyVal = Object.assign({}, this.form)
      this.disabled = true
    },
    update() {
      let code = this.code
      let val = this.form
      let params = { list: [] }
      for (let i = 0; i < 5; i++) {
        params.list.push({qzCode: code['qzCode' + i], qzValue: val['qzValue' + i]})
      }
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.$http.put(this.api.up, params).then(res => {
            kindo.util.alert(res.message)
            this.search()
          })
        }
      })
    },
    cancle() {
      this.form = Object.assign({}, this.copyVal)
      this.disabled = true
    }
  }
}
</script>
<style scoped>
.flex{
  display:flex;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}
.hr{
  background-color: #999;
  height: 1px;
  margin: 5px 0;
  border: none;
}
.flex > div{
  margin-right: 5px;
  text-align: center;
  margin-bottom: 15px;
}
.flex span{
  color: #009999;
  font-size: 20px;
  margin: 0 5px;
  vertical-align: -18px;
}
</style>