<template>
  <kindo-table :url="query" :queryParam="value" ref="table" :default-sort="{prop:'bah',order:'descending'}">
    <el-table-column label="科室代码" prop="memberName" show-overflow-tooltip min-width="120"></el-table-column>
    <el-table-column label="科室名称" prop="bah" width="130"></el-table-column>
    <el-table-column label="科室组代码" prop="memberName" show-overflow-tooltip min-width="120"></el-table-column>
    <el-table-column label="医疗机构代码" prop="" width="130"></el-table-column>
    <el-table-column label="院区代码" prop="" width="130"></el-table-column>
    <el-table-column label="状态" prop="" width="110"></el-table-column>
    <el-table-column label="失败原因" prop="" width="110"></el-table-column>
    <el-table-column label="接收日期" prop="" width="110"></el-table-column>
  </kindo-table>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      query: kindo.config.api + 'pz/rwtpz/listpage'
    }
  },
  mounted() {
    this.$nextTick(() => {
      // this.$refs['table'].loadData()
    })
  },
  watch: {
    'value': function () {
      // this.$refs['table'].loadData()
    }
  }
}
</script>

