<template>
  <div>
    <kindo-card-search title="条件筛选" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-date-range v-model.trim="searchTemp.cyrq"></kindo-date-range>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :value="searchTemp.orge" :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="getData">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form :model="searchForm" slot="more" label-width="100px" inline>
        <el-form-item label="机构类型">
          <kindo-orgaType v-model="searchForm.memberTypeCode"></kindo-orgaType>
          <!-- <el-select v-model.trim="searchForm.memberTypeCode" placeholder="请选择" clearable filterable>
              <el-option v-for="item in source.orgaType" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select> -->
        </el-form-item>
        <el-form-item label="机构等级">
          <kindo-orgaLevel v-model="searchTemp.memberLevelCode" :levOne.sync="searchForm.memberLevelCode1" :levTwo.sync="searchForm.memberLevelCode2"></kindo-orgaLevel>
        </el-form-item>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label="离院方式">
          <el-select v-model.trim="searchForm.lyfs" placeholder="请选择" clearable filterable>
            <el-option v-for=" item in source.lyfs" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="错误类型">
          <el-cascader v-model="searchTemp.err" :options="source.errs" expand-trigger="hover" change-on-select clearable filterable>
          </el-cascader>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="问题病案">
      <div slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </div>
      <kindo-table ref="tableRef" :pageSize="20" :queryParam="searchForm" :url="config.api.get">
        <el-table-column prop="memberName" min-width="160" header-align="center" show-overflow-tooltip label="医院名称"></el-table-column>
        <el-table-column prop="bah" width="140" header-align="center" align="center" show-overflow-tooltip label="病案号"></el-table-column>
        <el-table-column prop="cysj" width="120" header-align="center" align="center" show-overflow-tooltip label="出院日期"></el-table-column>
        <el-table-column prop="zyts" width="100" header-align="center" align="right" show-overflow-tooltip label="住院天数" sortable="custom"></el-table-column>
        <el-table-column prop="zdms" width="160" header-align="center" show-overflow-tooltip label="主要诊断ICD10" sortable="custom"></el-table-column>
        <el-table-column prop="cchimc1" width="160" header-align="center" show-overflow-tooltip label="主要操作ICD9" sortable="custom"></el-table-column>
        <el-table-column prop="errType" width="80" header-align="center" align="center" show-overflow-tooltip label="错误类型"></el-table-column>
        <el-table-column prop="errMemo" width="200" header-align="center" show-overflow-tooltip label="错误描述"></el-table-column>
        <el-table-column prop="cyks" width="120" header-align="center" show-overflow-tooltip label="出院科室"></el-table-column>
        <el-table-column prop="lyfs" width="120" header-align="center" show-overflow-tooltip label="离院方式" sortable="custom"></el-table-column>
        <el-table-column width="90" header-align="center" align="center" label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showMore(scope.row.id)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <el-dialog title="病案详情" :visible.sync="dialogVisible" width="80%">
      <kindo-patientInfo :url="config.api.getById" :params="patientinfo"></kindo-patientInfo>
    </el-dialog>
  </div>
</template>

<script>
import config from './config'
import KindoOrganization from '../../../components/kindo-organization/KindoOrganization'
import KindoDateRange from '../../../components/kindo-date-range/index'
import KindoHosptial from '../../../components/kindo-hospital/KindoHosptial'
import KindoOrgaLevel from '../../../components/kindo-orgaLevel/KindoOrgaLevel'
import KindoPatientInfo from '../../../components/kindo-patientInfo/index'
import KindoOrgaType from '@/components/kindo-orgaType/KindoOrgaType'

export default {
  components: {
    'kindo-organization': KindoOrganization,
    'kindo-date-range': KindoDateRange,
    'kindo-hospital': KindoHosptial,
    'kindo-orgaLevel': KindoOrgaLevel,
    'kindo-patientInfo': KindoPatientInfo,
    'kindo-orgaType': KindoOrgaType
  },
  data() {
    return {
      config: config,
      dialogVisible: false,
      searchForm: {
        city: '',
        cnty: '',
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        memberTypeCode: '',
        memberLevelCode1: '',
        memberLevelCode2: '',
        memberCode: '',
        lyfs: '',
        errType: '',
        errCode: ''
      },
      searchTemp: {
        orge: [''],
        cyrq: [new Date().proDate('{%M-3}'), new Date()], // 出院日期
        memberLevelCode: [''], // 机构等级
        err: ['', '']
      },
      source: {
        orgaType: [],
        lyfs: [],
        errs: []
      },
      patientinfo: {}
    }
  },
  async created() {
    // 机构类型
    let resOrgaType = await kindo.dictionary.getDictionary('OT_04')
    this.source.orgaType = resOrgaType || []

    // 离院方式
    let reLyfs = await kindo.dictionary.getDictionary('CC06_00_223_00')
    this.source.lyfs = reLyfs || []

    // 错误规则
    let resErrCodes = await this.$http.get(config.api.getErrCodes)

    let arr = []
    if (resErrCodes.data) {
      arr.push({ label: 'HQMS质控', value: '2', children: resErrCodes.data.hqms })
      arr.push({ label: 'DRG质控', value: '3', children: resErrCodes.data.drg })
    }

    this.source.errs = arr
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  methods: {
    getData: function() {
      this.$refs.tableRef.loadData()
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.searchForm)
    },
    showMore: async function(id) {
      this.patientinfo = { id: id }
      this.dialogVisible = true
    }
  },
  watch: {
    // 出院日期
    'searchTemp.cyrq': function(arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : '',
        endTime: arr && arr[1] ? arr[1].formatDate() : ''
      })
    },
    // 错误类型
    'searchTemp.err': function(arr) {
      Object.assign(this.searchForm, {
        errType: arr && arr[0] ? arr[0] : null,
        errCode: arr && arr[1] ? arr[1] : null
      })
    }
  }
}
</script>

