/*
 * @Author: lilizhou
 * @Description: 数据中心-数据中心-接收失败病案信息
 * @Last Modified by: lilizhou
 * @Last Modified time: 2018-07-25 15:06:00
 */

<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="数据接收日期" label-width="100px">
          <kindo-data-range v-model.trim="searchTemp.cyrq"></kindo-data-range>
        </el-form-item>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get()">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form :model="searchForm" slot="more" label-width="100px" inline>
        <el-form-item label="病案号">
          <el-input v-model.trim="searchForm.bah"></el-input>
        </el-form-item>
      </el-form>
    </kindo-card-search>
    <kindo-card title="失败病案信息">
      <template slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </template>
      <kindo-table ref="table" :url="config.api.get" :queryParam="search" :pageSize="20">
        <el-table-column min-width="120" label="医院代码" header-align="center" align="left" prop="memberCode" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="医院名称" header-align="center" align="left" prop="memberName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="病案号" header-align="center" prop="bah" align="left" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="住院次数" header-align="center" prop="zycs" align="right" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="失败原因" header-align="center" align="left" prop="errName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="数据接收时间" header-align="center" prop="checkTime" align="center" :formatter="kindo.util.formatTime" show-overflow-tooltip></el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import KindoDateRange from '@/components/kindo-date-range/index'
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'

import config from './config'

export default {
  components: {
    'kindo-data-range': KindoDateRange,
    'kindo-hospital': KindoHosptial
  },
  data() {
    return {
      config,
      searchForm: {
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        memberCode: '',
        bah: ''
      },
      searchTemp: {
        orge: [''],
        cyrq: [new Date().proDate('{%M-3}'), new Date()] // 出院日期
      }
    }
  },
  computed: {
    search: function() {
      let params = { memberCode: '', startTime: '', endTime: '', bah: '' }
      params.memberCode = this.searchForm.memberCode
      params.startTime = this.searchForm.bgTime + ' 00:00:00'
      params.endTime = this.searchForm.endTime + ' 23:59:59'
      params.bah = this.searchForm.bah
      return params
    }
  },
  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      console.log(this.search)
      this.$refs.table.reloadData({ queryParam: this.search })
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.search)
    }
  },
  watch: {
    'searchTemp.cyrq': function(arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : '',
        endTime: arr && arr[1] ? arr[1].formatDate() : ''
      })
    }
  }
}
</script>

<style>

</style>
