/*
 * @Author: lilizhou
 * @Description:  数据中心-数据中心-院内科室 
 * @Last Modified by: lilizhou
 * @Last Modified time: 2018-07-25 15:10:26
 */

<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="数据接收日期" label-width="100px">
          <kindo-data-range v-model.trim="searchTemp.cyrq"></kindo-data-range>
        </el-form-item>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get()">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="科室名称">
          <el-input v-model.trim="searchForm.hdepartmentName"></el-input>
        </el-form-item>
      </el-form>
    </kindo-card-search>
    <kindo-card title="院内科室信息">
      <template slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </template>
      <kindo-table ref="table" :url="config.api.get" :queryParam="search" :pageSize="20">
        <el-table-column min-width="120" label="医院代码" header-align="center" align="left" prop="memberCode" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="医院名称" header-align="center" align="left" prop="memberName" show-overflow-tooltip></el-table-column>
        <!-- <el-table-column min-width="120" label="院区代码" prop="districtCode" show-overflow-tooltip></el-table-column> -->
        <!-- <el-table-column min-width="120" label="院区名称" prop="districtName" show-overflow-tooltip></el-table-column> -->
        <!-- <el-table-column min-width="120" label="科室组代码" prop="bdepartmentCode" show-overflow-tooltip></el-table-column> -->
        <!-- <el-table-column min-width="120" label="科室组名称" prop="bdepartmentName" show-overflow-tooltip></el-table-column> -->
        <el-table-column min-width="120" label="科室代码" header-align="center" align="left" prop="hdepartmentCode" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="科室名称" header-align="center" align="left" prop="hdepartmentName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="是否启用" header-align="center" align="center" prop="status" show-overflow-tooltip></el-table-column>
        <!-- 类型有门/急诊，和住院 -->
        <!-- <el-table-column min-width="120" label="类型" prop="type" show-overflow-tooltip></el-table-column> -->
        <el-table-column min-width="120" label="数据接收时间" header-align="center" align="center" prop="syndate" :formatter="kindo.util.formatTime" show-overflow-tooltip></el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import KindoDateRange from '@/components/kindo-date-range/index'
import mixinKPI from '@/mixins/mixinKPI.js'
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
import config from './config'

export default {
  mixins: [mixinKPI],
  components: {
    'kindo-data-range': KindoDateRange,
    'kindo-hospital': KindoHosptial
  },
  data() {
    return {
      config,
      searchForm: {
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        memberCode: '',
        hdepartmentName: ''
      },
      searchTemp: {
        orge: [''],
        cyrq: [new Date().proDate('{%M-3}'), new Date()] // 出院日期
      }
    }
  },
  computed: {
    search: function() {
      let params = { memberCode: '', startTime: '', endTime: '', hdepartmentName: '' }
      params.memberCode = this.searchForm.memberCode
      params.startTime = this.searchForm.bgTime + ' 00:00:00'
      params.endTime = this.searchForm.endTime + ' 23:59:59'
      params.hdepartmentName = this.searchForm.hdepartmentName
      return params
    }
  },
  created() {
    // this.getDictionary('dict')
  },
  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      console.log(this.search)
      this.$refs.table.reloadData({ queryParam: this.search })
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.search)
    }
  },
  watch: {
    'searchTemp.cyrq': function(arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : '',
        endTime: arr && arr[1] ? arr[1].formatDate() : ''
      })
    }
  }
}
</script>

<style>

</style>
