/*
 * @Author: lilizhou
 * @Description:  数据中心-数据中心-标准科室信息
 * @Last Modified by: lilizhou
 * @Last Modified time: 2018-07-25 15:51:37
 */

<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="数据接收日期" label-width="100px">
          <kindo-data-range v-model.trim="searchTemp.cyrq"></kindo-data-range>
        </el-form-item>
        <el-form-item label="科室编码">
          <el-input v-model="searchForm.departmentCode"></el-input>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get()">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="科室名称">
          <el-input v-model.trim="searchForm.departmentName"></el-input>
        </el-form-item>
      </el-form>
      <div slot="control">
      </div>
    </kindo-card-search>
    <kindo-card title="标准科室信息">
      <template slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </template>
      <kindo-table ref="table" :url="config.api.get" :queryParam="search" :pageSize="20">
        <el-table-column min-width="120" label="科室编码" header-align="center" align="left" prop="departmentCode" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="科室名称" header-align="center" align="left" prop="departmentName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="130" label="上级科室编码" header-align="center" align="left" prop="parentCode" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="180" label="数据接收时间" header-align="center" align="center" prop="syndate" :formatter="kindo.util.formatTime" show-overflow-tooltip></el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import KindoDateRange from '@/components/kindo-date-range/index'

import config from './config'

export default {
  components: {
    'kindo-data-range': KindoDateRange
  },
  data() {
    return {
      config,
      searchForm: {
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        departmentCode: '',
        departmentName: ''
      },
      searchTemp: {
        orge: [''],
        cyrq: [new Date().proDate('{%M-3}'), new Date()] // 出院日期
      }
    }
  },
  computed: {
    search: function() {
      let params = { departmentCode: '', startTime: '', endTime: '', departmentName: '' }
      params.departmentCode = this.searchForm.departmentCode
      params.startTime = this.searchForm.bgTime + ' 00:00:00'
      params.endTime = this.searchForm.endTime + ' 23:59:59'
      params.departmentName = this.searchForm.departmentName
      return params
    }
  },
  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      console.log(this.search)
      this.$refs.table.reloadData({ queryParam: this.search })
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.search)
    }
  },
  watch: {
    'searchTemp.cyrq': function(arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : '',
        endTime: arr && arr[1] ? arr[1].formatDate() : ''
      })
    }
  }
}
</script>

<style>

</style>
