<template>
  <div>
    <kindo-card-search title="条件筛选" icon="fa-search">
      <el-form onsubmit="return false;" label-position="right" label-width="110px" @keyup.enter.native="get" :model="form" ref="form" inline>
        <el-form-item label="术语名称">
          <el-input v-model.trim="form.ccdtCodeOrName" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card>
      <kindo-table :url="url" :queryParam="form" ref="table" :pageSize="20">
        <el-table-column width="120px" label="临床诊断术语编码" prop="ccdtCode" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column min-width="160px" label="临床诊断术语名称" prop="ccdtName" header-align="center" show-overflow-tooltip> </el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>
<script>
import config from './config'

export default {
  data() {
    return {
      form: {
        ccdtCodeOrName: ''
      },

      url: config.api.get
    }
  },

  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      this.$refs.table.reloadData()
    }
  }
}
</script>

<style>

</style>