<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form label-width="120px" inline>
        <el-button type="text" style="display:block;margin-left: 10px;" @click="download">标准科室对照模板下载</el-button>
        <el-form-item label="上传区域科室表">
          <el-upload :action="api.upload" :before-upload="beforeUpload" :on-success="upLoadResult" :file-list="fileList" :auto-upload="false" ref="upload" :limit="1" :accept="fileExtention" :headers="token">
            <el-button size="small">添加</el-button>
          </el-upload>
        </el-form-item>

        <el-form-item label=" ">
          <el-button @click="submitUpload">确认</el-button>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="">
      <template slot="control">
        <el-button @click="exportTable" icon="fa fa-cloud-download">导出</el-button>
      </template>
      <kindo-table :url="api.listpage" ref="table" :pageSize="20">
        <el-table-column label="标准科室" header-align="center">
          <el-table-column min-width="100" header-align="center" label="科室编码" prop="stdDepartCode"></el-table-column>
          <el-table-column min-width="120" header-align="center" show-overflow-tooltip label="科室名称" prop="stdDepartName"></el-table-column>
        </el-table-column>
        <el-table-column label="院内科室" header-align="center">
          <el-table-column min-width="100" header-align="center" label="院内科室编码" prop="hosDepartCode"></el-table-column>
          <el-table-column min-width="120" header-align="center" show-overflow-tooltip label="院内科室名称" prop="hosDepartName"></el-table-column>
        </el-table-column>
        <el-table-column min-width="120" header-align="center" label="上传人" prop="operName"></el-table-column>
        <el-table-column min-width="120" header-align="center" label="上传时间" prop="operDt" align="center" :formatter="(row,col)=>{return row[col.property].toDate().formatDate('yyyy-MM-dd')}"></el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import { user } from '@/type.js'
export default {
  data() {
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/pz/listpage',
        upload: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/pz/upload',
        download: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/pz/download',
        exportlistpage: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/pz/exportlistpage'
      },
      token: {
        token: ''
      },
      fileList: [],
      fileExtention: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    }
  },
  created() {
    const userInfo = kindo.cache.get(user.USER_INFO, 'local')
    if (userInfo && userInfo.token) {
      if (userInfo.token) {
        this.token.token = userInfo.token
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.$refs['table'].reloadData()
    },
    submitUpload() {
      this.$refs.upload.submit()
    },
    // 上传文件之前校验
    beforeUpload() {
      let fileName = arguments[0].name
      let suffix = fileName.substr(fileName.lastIndexOf('.'))
      if (suffix !== '.xls' && suffix !== '.xlsx') {
        kindo.util.alert('只能上传xls/xlsx文件', undefined, 'warning')
        return false
      }

      let fileSize = arguments[0].size
      if (fileSize > 31457280) {
        kindo.util.alert('上传文件不超过30M', undefined, 'warning')
        return false
      }
      this.fullscreenLoading = true
      this.uploadingText = '正在上传，请稍后....'
    },
    upLoadResult(response) {
      if (response.code === '200' || response.code === 200) {
        this.$refs['table'].reloadData()
        kindo.util.alert(response.message)
      } else {
        kindo.util.alert(response.message, undefined, 'warning')
      }
      this.$refs.upload.clearFiles()
    },
    download() {
      kindo.util.downloadFile(this.api.download)
    },
    exportTable: function() {
      kindo.util.downloadFile(this.api.exportlistpage)
    }
  }
}
</script>

