<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="医院名称">
          <kindo-hospital v-model="searchForm.yyCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="标准科室汇总">
      <kindo-table :url="api.listpage" :queryParam="searchForm" ref="table" :pageSize="20">
        <el-table-column prop="yyName" min-width="120" label="医院名称" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column header-align="center" label="院内科室">
          <el-table-column prop="ydjNum" min-width="120" header-align="center" label="已对接科室数" :formatter="(row,col)=>{return getNum(row[col.property], 0)}"></el-table-column>
          <el-table-column prop="wdjNum" min-width="120" header-align="center" label="未对接数" :formatter="(row,col)=>{return getNum(row[col.property], 0)}"></el-table-column>
        </el-table-column>
        <el-table-column prop="operDt" width="120" label="操作时间" align="center" :formatter="(row,col)=>{return row[col.property] ? row[col.property].toDate().formatDate('yyyy-MM-dd') : '-'}"></el-table-column>
        <el-table-column label="操作" header-align="center" width="90" align="center">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showDetail(scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <!-- 详情 -->
    <el-dialog :title="dialogTitle" v-drag :visible.sync="detailVisi" width="80%">
      <el-button class="exportBtn" @click="kindo.util.downloadFile(api.exportview, showForm)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.view" :queryParam="showForm" ref="detail">
        <el-table-column header-align="center" label="标准科室">
          <el-table-column prop="stdDepartCode" min-width="120" header-align="center" label="科室编码"></el-table-column>
          <el-table-column prop="stdDepartName" min-width="120" header-align="center" label="科室名称"></el-table-column>
        </el-table-column>
        <el-table-column header-align="center" label="院内科室">
          <el-table-column prop="hosDepartCode" min-width="120" header-align="center" label="院内科室编码"></el-table-column>
          <el-table-column prop="hosDepartName" min-width="120" header-align="center" label="院内科室名称"></el-table-column>
        </el-table-column>
        <el-table-column prop="operName" min-width="120" header-align="center" label="上传人"></el-table-column>
        <el-table-column prop="operDt" min-width="120" header-align="center" label="上传时间" :formatter="(row,col)=>{return row[col.property] ? row[col.property].toDate().formatDate('yyyy-MM-dd') : '-'}" align="center"></el-table-column>
      </kindo-table>
    </el-dialog>
  </div>
</template>

<script>
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
export default {
  components: {
    'kindo-hospital': KindoHosptial
  },
  data() {
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/listpage',
        view: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/view',
        exportview: kindo.config.api.cDrgKPI + 'pz/bzkshzpz/exportview'
      },
      rwtType: '',
      searchForm: {
        yyCode: '',
        yyName: ''
      },
      showForm: {
        yyCode: '',
        yyName: ''
      },
      detailVisi: false,
      dialogTitle: ''
    }
  },
  created() {},
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.$refs['table'].reloadData()
    },
    showDetail(row) {
      this.detailVisi = true
      this.showForm = {
        yyCode: row.yyCode,
        yyName: row.yyName
      }
      this.dialogTitle = row.yyName + ' 科室匹配'
      this.$nextTick(() => {
        this.$refs['detail'].reloadData()
      })
    },
    getNum(val, precision = 2) {
      if (val || val === 0) {
        return val.formatNum(precision)
      } else {
        return '-'
      }
    }
  }
}
</script>

