<template>
  <kindo-card title="疑难病案权重区间设置" style="font-size:14px;">
    <el-form :model="rw1" label-width="100px" ref="rwForm1" :rules="rw1Rules" inline>
      <el-form-item label="RW区间段1"></el-form-item>
      <el-form-item label="" prop="ynblVal1">
        <el-input style="width:80px;" v-model.trim="rw1.ynblVal1" :disabled="disabled1"></el-input>
      </el-form-item>
      <span>&lt;= RW </span>
      <el-form-item label="" style="width:98px;"></el-form-item>
      <el-form-item label="">
        <el-button v-show="disabled1 === true" type="primary" round icon="el-icon-edit" @click="edit(1)" class="cus-btn"></el-button>
        <el-button v-show="disabled1 !== true" type="success" round icon="el-icon-check" @click="save(1)" class="cus-btn"></el-button>
        <el-button v-show="disabled1 !== true" type="danger" round icon="el-icon-close" @click="remove(1)" class="cus-btn"></el-button>
      </el-form-item>
    </el-form>

    <el-form :model="rw2" label-width="100px" ref="rwForm2" :rules="rw2Rules" inline>
      <el-form-item label="RW区间段2"></el-form-item>
      <el-form-item prop="ynblVal1">
        <el-input style="width:80px;" v-model.trim="rw2.ynblVal1" :disabled="disabled2"></el-input>
      </el-form-item>
      <span>&lt;= RW &lt;&nbsp; </span>
      <el-form-item label="" prop="ynblVal2">
        <el-input style="width:80px;" v-model.trim="rw2.ynblVal2" :disabled="disabled2"></el-input>
      </el-form-item>
      <el-form-item label="">
        <el-button v-show="disabled2 === true" type="primary" round icon="el-icon-edit" @click="edit(2)" class="cus-btn"></el-button>
        <el-button v-show="disabled2 !== true" type="success" round icon="el-icon-check" @click="save(2)" class="cus-btn"></el-button>
        <el-button v-show="disabled2 !== true" type="danger" round icon="el-icon-close" @click="remove(2)" class="cus-btn"></el-button>
      </el-form-item>
    </el-form>

    <el-form :model="rw3" label-width="100px" ref="rwForm3" :rules="rw3Rules" inline>
      <el-form-item label="RW区间段3"></el-form-item>
      <el-form-item prop="ynblVal1">
        <el-input style="width:80px;" v-model.trim="rw3.ynblVal1" :disabled="disabled3"></el-input>
      </el-form-item>
      <span>&lt;= RW &lt;&nbsp; </span>
      <el-form-item label="" prop="ynblVal2">
        <el-input style="width:80px;" v-model.trim="rw3.ynblVal2" :disabled="disabled3"></el-input>
      </el-form-item>
      <el-form-item label="">
        <el-button v-show="disabled3 === true" type="primary" round icon="el-icon-edit" @click="edit(3)" class="cus-btn"></el-button>
        <el-button v-show="disabled3 !== true" type="success" round icon="el-icon-check" @click="save(3)" class="cus-btn"></el-button>
        <el-button v-show="disabled3 !== true" type="danger" round icon="el-icon-close" @click="remove(3)" class="cus-btn"></el-button>
      </el-form-item>
    </el-form>

    <el-form :model="rw4" label-width="100px" ref="rwForm4" :rules="rw4Rules" inline>
      <el-form-item label="RW区间段4"></el-form-item>
      <el-form-item prop="ynblVal1">
        <el-input style="width:80px;" v-model.trim="rw4.ynblVal1" :disabled="disabled4"></el-input>
      </el-form-item>
      <span>&lt;= RW</span>
      <el-form-item label="" style="width:103px;"></el-form-item>
      <el-form-item label="">
        <el-button v-show="disabled4 === true" type="primary" round icon="el-icon-edit" @click="edit(4)" class="cus-btn"></el-button>
        <el-button v-show="disabled4 !== true" type="success" round icon="el-icon-check" @click="save(4)" class="cus-btn"></el-button>
        <el-button v-show="disabled4 !== true" type="danger" round icon="el-icon-close" @click="remove(4)" class="cus-btn"></el-button>
      </el-form-item>
    </el-form>
  </kindo-card>
</template>
<script>
export default {
  // let crossVerify
  data() {
    let intergerVerify = (rule, value, callback) => {
      if (!kindo.valid.pNumerical(value)) {
        callback(new Error('请输入正数'))
      } else if (value.toString().split('.').length > 1 && value.toString().split('.')[1].length > 2) {
        callback(new Error('保留2位小数'))
      } else {
        callback()
      }
    }
    let crossVerify = (rule, value, callback, valc) => {
      if (!(value >= valc)) {
        callback(new Error('输入错误'))
      } else {
        callback()
      }
    }
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'pz/ynblpz/listpage',
        up: kindo.config.api.cDrgKPI + 'pz/ynblpz/up'
      },
      disabled1: true,
      disabled2: true,
      disabled3: true,
      disabled4: true,
      rw1: {
        id: '',
        ynblVal1: 5
      },
      rw1Rules: {
        ynblVal1: [
          { required: true, message: '不能为空' },
          { validator: intergerVerify, trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              let rw2val1 = this.rw2.ynblVal1
              if (rw2val1 !== '') {
                if (!(value <= rw2val1)) {
                  callback(new Error('输入错误'))
                } else {
                  callback()
                }
              }
            },
            trigger: 'blur'
          }
        ]
      },
      rw2: {
        id: '',
        ynblVal1: 5,
        ynblVal2: 7
      },
      rw2Rules: {
        ynblVal1: [
          { required: true, message: '不能为空', trigger: 'blur' },
          { validator: intergerVerify, trigger: 'blur' },
          { validator: (rule, value, callback) => crossVerify(rule, value, callback, this.rw1.ynblVal1), trigger: 'blur' }
        ],
        ynblVal2: [
          { required: true, message: '不能为空', trigger: 'blur' },
          { validator: intergerVerify, trigger: 'blur' },
          { validator: (rule, value, callback) => crossVerify(rule, value, callback, this.rw2.ynblVal1), trigger: 'blur' }
        ]
      },
      rw3: {
        id: '',
        ynblVal1: 7,
        ynblVal2: 10
      },
      rw3Rules: {
        ynblVal1: [
          { required: true, message: '不能为空', trigger: 'blur' },
          { validator: intergerVerify, trigger: 'blur' },
          { validator: (rule, value, callback) => crossVerify(rule, value, callback, this.rw2.ynblVal2), trigger: 'blur' }
        ],
        ynblVal2: [
          { required: true, message: '不能为空', trigger: 'blur' },
          { validator: intergerVerify, trigger: 'blur' },
          { validator: (rule, value, callback) => crossVerify(rule, value, callback, this.rw3.ynblVal1), trigger: 'blur' }
        ]
      },
      rw4: {
        id: '',
        ynblVal1: 10,
        ynblVal2: 999
      },
      rw4Rules: {
        ynblVal1: [
          { required: true, message: '不能为空', trigger: 'blur' },
          { validator: intergerVerify, trigger: 'blur' },
          { validator: (rule, value, callback) => crossVerify(rule, value, callback, this.rw3.ynblVal2), trigger: 'blur' }
        ]
      },
      cancel1: {},
      cancel2: {},
      cancel3: {},
      cancel4: {}
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.get()
    })
  },
  methods: {
    async get() {
      let data = await this.$http.get(this.api.listpage)
      data = data.data.rows
      data.forEach((item, i) => {
        this['rw' + (i + 1)] = item
      })
    },
    edit(num) {
      this['cancel' + num] = Object.assign({}, this['rw' + num])
      this['disabled' + num] = false
    },
    save(num) {
      this.$refs['rwForm' + num].validate(valid => {
        if (valid) {
          let params = { list: [this['rw' + num]] }
          this.$http.put(this.api.up, params).then(res => {
            kindo.util.alert(res.message)
            this['disabled' + num] = true
          })
        }
      })
    },
    remove(num) {
      this.$refs['rwForm' + num].resetFields()
      this['rw' + num] = Object.assign({}, this['cancel' + num])
      this['disabled' + num] = true
    }
  }
}
</script>
<style scoped>
.cus-btn {
  margin-left: 10px;
}
</style>