<template>
  <div>
    <kindo-card-search>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <KindoOrganisation :value="searchTemp.orge" :city.sync='searchForm.city' :cnty.sync='searchForm.cnty'></KindoOrganisation>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="getData">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="MDC" label-width="75px">
          <el-select v-model="searchForm.mdcCode" placeholder="请选择" clearable filterable>
            <el-option v-for="item in source.mdcs" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="">
      <template slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </template>
      <kindo-table ref="tableRef" :pageSize="20" :queryParam="searchForm" :url="config.api.get" :default-sort="{prop: 'jbgdrgcode', order: 'ascending'}">
        <el-table-column label="DRG编码" prop="jbgdrgcode" width="120px" header-align="center" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="jbgdrgname" min-width="160px" header-align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="入组病案数" prop="jbgindrgnum" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="showInDrg(scope.row)">{{ scope.row.jbgindrgnum }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="相对权重" prop="jbgrwt" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="CMI值" prop="jbgcmi" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="时间消耗指数" prop="jbgtimesi" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom" :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
        <el-table-column label="平均住院日(天)" prop="jbgpjzyr" width="140px" header-align="center" align="right" show-overflow-tooltip sortable="custom" :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
        <el-table-column label="费用消耗指数" prop="jbgcostsi" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom" :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
        <el-table-column label="次均费用(元)" prop="jbgcjfy" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom" :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}"></el-table-column>
        <el-table-column label="死亡人数" prop="jbgswnum" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="风险等级" prop="fxcd" :formatter="(row,col)=>{return kindo.dictionary.getLabel(source.ML_RISK, row[col.property])}" width="120px" header-align="center" align="center" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="操作" width="80px" header-align="center" fixed="right" align="center">
          <template slot-scope="scope">
            <el-button type="text" @click="showDetail(scope.row)" icon="el-icon-search">查看</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <!-- 入组病案详情 -->
    <el-dialog title="入组病案查询" v-drag :visible.sync="inDialogVisible" width="80%">
      <div style="text-align:right">
        <el-button class="exportBtn" @click="exportInTable" icon="fa fa-cloud-download">导出</el-button>
      </div>
      <kindo-table ref="tableRZBARef" :url="config.api.getRZBA" :queryParam="Object.assign({},searchForm,{ drgCode:currentRow.jbgdrgcode})">
        <el-table-column label="医院名称" prop="yyName" min-width="160px" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="病案号" prop="bah" width="120px" header-align="center" align="center" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="DRG编码" prop="drgcode" width="120px" header-align="center" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="drgname" width="140px" header-align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="相对权重" prop="rwt" width="100px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="主要诊断" prop="zyzd" width="160px" header-align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="主要操作" prop="zycz" width="160px" header-align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="住院天数" prop="zyts" width="100px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="出院日期" prop="cyrq" width="120px" header-align="center" align="center" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?new Date(v).formatDate():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="住院总费用" prop="zyzfy" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="操作" fixed="right" width="90px" header-align="center" align="center">
          <template slot-scope="scope">
            <el-button @click="showMore(scope.row)" type="text" icon="el-icon-search">查看明细
            </el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- DRG详情 -->
    <el-dialog v-drag :visible.sync="drgDialogVisible" width="80%" :title="currentRow.jbgdrgcode+'  '+currentRow.jbgdrgname">
      <div style="text-align:right">
        <el-button class="exportBtn" @click="exportDrgTable" icon="fa fa-cloud-download">导出</el-button>
      </div>
      <kindo-table ref="tableDetailRef" :url="config.api.show" :queryParam="Object.assign({},searchForm,{ drgCode:currentRow.jbgdrgcode})" :default-sort="{prop: 'jbgindrgnum', order: 'descending'}">
        <el-table-column label="医院名称" prop="memberName" min-width="160px" header-align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="入组病案数" prop="jbgindrgnum" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <!-- 产品已同意删掉 -->
        <!-- <el-table-column label="DRG组数" prop="jbgdrgnum" width="120px" header-align="center" align="right" show-overflow-tooltip></el-table-column> -->
        <el-table-column label="总权重" prop="jbgrwt" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="时间消耗指数" prop="jbgtimesi" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="平均住院日" prop="jbgpjzyr" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="费用消耗指数" prop="jbgcostsi" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="次均费用" prop="jbgcjfy" width="120px" header-align="center" align="right" show-overflow-tooltip :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column label="死亡人数" prop="jbgswnum" width="120px" header-align="center" align="right" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="死亡率（%）" prop="jbgswl" width="120px" header-align="center" align="right" :formatter="(r,c,v)=>{return v!==null?v:'-'}" sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>

    <el-dialog title="病案详情" :visible.sync="dialogVisible" width="80%">
      <kindo-patientInfo :url="config.api.getById" :params="{id: subCurrentRow.id}"></kindo-patientInfo>
    </el-dialog>
  </div>
</template>

<script>
import config from './config'
import KindoOrganisation from '../../../../components/kindo-organization/KindoOrganization'
import KindoPatientInfo from '../../../../components/kindo-patientInfo/index'
export default {
  components: { KindoOrganisation, KindoPatientInfo },
  data() {
    return {
      config: config,
      searchForm: {
        year: '',
        quarter: '',
        month: '',
        city: '',
        cnty: '',
        mdcCode: '',
        drgCode: ''
      },
      searchTemp: {
        orge: ['']
      },
      source: {
        mdcs: [],
        ML_RISK: []
      },
      dialogVisible: false,
      inDialogVisible: false,
      drgDialogVisible: false,
      currentRow: {},
      subCurrentRow: {}
    }
  },
  async created() {
    // 机构类型
    let resMdcs = await kindo.dictionary.getDictionary('DICT_DYN_MDC')
    this.source.mdcs = resMdcs || []
    // 风险等级
    let resML_RISK = await kindo.dictionary.getDictionary('ML_RISK')
    this.source.ML_RISK = resML_RISK || []
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  methods: {
    getData: function() {
      this.$refs.tableRef.loadData()
    },
    // 入组病案弹窗
    showInDrg: function(row) {
      this.currentRow = row
      this.inDialogVisible = true

      this.$nextTick(() => {
        this.$refs.tableRZBARef.reloadData()
      })
    },
    //查看
    showDetail: function(row) {
      this.currentRow = row
      this.drgDialogVisible = true

      this.$nextTick(() => {
        this.$refs.tableDetailRef.reloadData()
      })
    },
    showMore: async function(row) {
      this.subCurrentRow = row
      this.dialogVisible = true
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.searchForm)
    },
    exportInTable: function() {
      kindo.util.downloadFile(config.api.exportInTable, Object.assign({}, this.searchForm, { drgCode: this.currentRow.jbgdrgcode }))
    },
    exportDrgTable: function() {
      kindo.util.downloadFile(config.api.exportDrgTable, Object.assign({}, this.searchForm, { drgCode: this.currentRow.jbgdrgcode }))
    }
  }
}
</script>

