<template>
  <div>
    <kindo-card-search title="条件筛选" icon="fa-search">
      <el-form onsubmit="return false;" @keyup.enter.native="get" label-position="right" label-width="100px" :model="form" ref="form" inline>
        <el-form-item label="DRG">
          <el-input v-model.trim="form.drgCodeOrName" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
        <el-form-item label="MDC">
          <el-input v-model.trim="form.mdcCodeOrName" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card>
      <kindo-table :url="url" :queryParam="form" ref="table" :pageSize="20">
        <el-table-column label="MDC编码" width="120px" prop="mdcCode" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column label="MDC名称" min-width="140px" prop="mdcName" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column label="DRG编码" width="120px" prop="drgCode" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column label="DRG名称" min-width="140px" prop="drgName" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column label="权重" width="100px" prop="rwt" header-align="center" align="right" :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" show-overflow-tooltip>
        </el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import config from './config'

export default {
  data() {
    return {
      form: {
        drgCodeOrName: '',
        mdcCodeOrName: ''
      },

      url: config.api.get
    }
  },

  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      this.$refs.table.reloadData()
    }
  }
}
</script>