<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search('table')">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="机构类型">
          <kindo-orgaType v-model="searchForm.memberTypeCode"></kindo-orgaType>
          <!-- <el-select v-model="searchForm.memberTypeCode" clearable>
                      <el-option v-for="(item,index) in dict.OT_04" :key="'机构类型' + index" :label="item.label" :value="item.value"></el-option>
                    </el-select> -->
        </el-form-item>
        <el-form-item label="机构等级">
          <kindo-orgaLevel :levOne.sync="searchForm.memberLev1" :levTwo.sync="searchForm.memberLev2"></kindo-orgaLevel>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="疑难病案分布" collapse>
      <kindo-chart :options="chartBar" autoResize></kindo-chart>
    </kindo-card>

    <kindo-card title="疑难病例分布详情" collapse>
      <template slot="control">
        <span style="font-size:13px;margin-top: 5px;">医院名称：</span>
        <kindo-hospital v-model="formTransit.memberCode"></kindo-hospital>
        <el-button style="margin-left: 10px;" @click="exportTable(api.exportData, searchForm)" icon="fa fa-cloud-download">导出</el-button>
      </template>

      <kindo-table :url="api.queryByPage" :queryParam="searchForm" ref="table" :default-sort="{prop:'casesNum_1',order:'descending'}" show-summary sum-text="合计" :summary-method="getSummaries">
        <el-table-column label="医院名称" prop="memberName" show-overflow-tooltip min-width="150" fixed="left" header-align="center"></el-table-column>
        <el-table-column label="入组病案数" prop="caseSum" width="110" fixed="left" sortable="custom" align="right" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" header-align="center"></el-table-column>

        <el-table-column v-for="(item, index) in formTransit.tableLabel" :key="index" :label="item" header-align="center">
          <el-table-column label="数量" :prop="'casesNum_' + (index + 1)" width="80" sortable="custom" header-align="center" align="right">
            <template slot-scope="scope">
              <el-button type="text" @click="showTable(scope.row, 'detailInDrg', 'inDrg', formTransit.rwVal[index])">
                <span v-text="getNum(scope.row['casesNum_' + (index + 1)], 0)"></span>
              </el-button>
            </template>
          </el-table-column>
          <el-table-column label="占比（%）" :prop="'ratio_' + (index + 1)" width="110" sortable="custom" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}"></el-table-column>
        </el-table-column>

        <el-table-column label="操作" width="80" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showTable(scope.row, 'detailDepartment', 'detail')">查看</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <!-- 入组病案详情 -->
    <el-dialog title="入组病案查询" v-drag :visible.sync="detailInDrg" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.exportByNumClickData, showTableParams)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.queryByNumClick" :queryParam="showTableParams" ref="inDrg">
        <el-table-column label="医院名称" prop="memberName" width="160" show-overflow-tooltip header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="病案号" prop="bah" width="130" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="DRG编码" prop="drgCode" width="100" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="drgName" show-overflow-tooltip min-width="120" header-align="center"></el-table-column>
        <el-table-column label="相对权重" prop="rwt" width="100" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="主要诊断" prop="adrgName" show-overflow-tooltip width="100" header-align="center"></el-table-column>
        <el-table-column label="主要操作" prop="cchiName" show-overflow-tooltip width="100" header-align="center"></el-table-column>
        <el-table-column label="住院天数" prop="zyts" width="100" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="出院日期" :formatter="(row,col)=>{return row[col.property].toDate().formatDate('yyyy-MM-dd')}" prop="cyrq" width="100" header-align="center" align="center" sortable="custom"></el-table-column>
        <el-table-column label="住院总费用" prop="zfy" width="120" align="right" header-align="center" :formatter="(row,col)=>{return getNum(row[col.property])}" sortable="custom"></el-table-column>
        <el-table-column label="操作" header-align="center" width="90">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="queryBa(scope.row)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- 病案详情 -->
    <el-dialog title="病案详情" :visible.sync="detailBa.visible" width="80%">
      <kindo-patientInfo :url="detailBa.url" :params="{id: detailBa.bahId}"></kindo-patientInfo>
    </el-dialog>
    <!-- 详情 -->
    <el-dialog :title="showTableTitle + ' 科室疑难病例统计分析'" v-drag :visible.sync="detailDepartment" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.exportQueryInfoData, showTableParams)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.queryInfo" :queryParam="showTableParams" ref="detail" :default-sort="{prop:'casesNum_1',order:'descending'}">
        <el-table-column label="科室名称" prop="stdksmc" show-overflow-tooltip min-width="150" fixed="left" sortable="custom" header-align="center"></el-table-column>
        <el-table-column label="入组病案数" prop="caseSum" width="110" fixed="left" sortable="custom" align="right" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" header-align="center"></el-table-column>
        <el-table-column v-for="(item, index) in formTransit.tableLabel" :key="index" :label="item" header-align="center">
          <el-table-column label="数量" :prop="'casesNum_' + (index + 1)" width="80" sortable="custom" header-align="center" align="right">
            <template slot-scope="scope">
              <span v-text="getNum(scope.row['casesNum_' + (index + 1)], 0)"></span>
            </template>
          </el-table-column>
          <el-table-column label="占比（%）" :prop="'ratio_' + (index + 1)" :formatter="(row,col)=>{return getNum(row[col.property])}" width="110" sortable="custom" align="right"></el-table-column>
        </el-table-column>
      </kindo-table>
    </el-dialog>

  </div>
</template>

<script>
import 'echarts/lib/chart/scatter'
import difficult from '@/mixins/difficult.js'
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
import KindoOrgaType from '@/components/kindo-orgaType/KindoOrgaType'
export default {
  components: {
    'kindo-hospital': KindoHosptial,
    'kindo-orgaType': KindoOrgaType
  },
  mixins: [difficult],
  data() {
    return {
      api: {
        queryRwtRangeStr: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/queryRwtRangeStr',
        query: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/query',
        queryByPage: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/queryByPage',
        queryHosDataSum: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/queryHosDataSum',
        queryInfo: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/queryInfo',
        queryByNumClick: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/queryByNumClick',

        exportData: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/exportData/export',
        exportByNumClickData: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/exportByNumClickData/export',
        exportQueryInfoData: kindo.config.api.cDrgKPI + 'drgjx/hosdifficult/hospital/exportQueryInfoData/export'
      },
      searchForm: {
        year: '',
        quarter: '',
        month: '',
        city: '',
        cnty: '',
        memberTypeCode: '',
        memberLev1: '',
        memberLev2: '',
        memberCode: ''
      },
      sumData: [],
      showTableParams: {},
      showTableTitle: '',
      formTransit: {
        rwVal: [],
        tableLabel: ['2<rwt<5', '5<rwt<7', '7<rwt<8', '8<rwt<10'],
        memberCode: ''
      },
      dict: {
        OT_04: []
      },

      chartBar: null,

      detailInDrg: false,
      detailDrg: false,
      detailDepartment: false,
      detailBa: {
        visible: false,
        hosName: '',
        bahId: '',
        url: kindo.config.api.cDrgQC + 'baqc/colligation/queryDetail'
      }
    }
  },
  created() {
    this.getDictionary('dict')
    this.getTableLabel(this.api.queryRwtRangeStr)
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.getEcharts()
      this.loadTable('table')
      this.getSumData()
      this.showTableSum()
    },
    getEcharts() {
      this.chartBar = this.setBar('医院名称')
      this.getBar(this.chartBar, this.api.query)
    }
  },
  watch: {
    'formTransit.memberCode': function(val) {
      this.searchForm.memberCode = val
      this.loadTable('table')
      this.getSumData()
    }
  }
}
</script>


