<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-date-range v-model.trim="searchTemp.cyrq"></kindo-date-range>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :value="searchTemp.orge" :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="getData">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form :model="searchForm" slot="more" label-width="100px" inline>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label="DRG查询">
          <el-input v-model.trim="searchForm.drgValue" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
        <el-form-item label="主要诊断">
          <el-input v-model.trim="searchForm.zysdValue" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
        <el-form-item label="主要操作">
          <el-input v-model.trim="searchForm.zyczValue" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card>
      <div slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </div>
      <kindo-table ref="tableRef" :pageSize="20" :queryParam="searchForm" :url="config.api.get">
        <el-table-column prop="memberName" width="120" header-align="center" show-overflow-tooltip label="医院名称"></el-table-column>
        <el-table-column prop="bah" width="140" header-align="center" show-overflow-tooltip label="病案号"></el-table-column>
        <el-table-column prop="drgCode" width="120" header-align="center" show-overflow-tooltip label="DRG编码" sortable="custom"></el-table-column>
        <el-table-column prop="drgName" min-width="160" header-align="center" show-overflow-tooltip label="DRG名称"></el-table-column>
        <el-table-column prop="rwt" width="120" header-align="center" align="right" show-overflow-tooltip label="相对权重"></el-table-column>
        <el-table-column prop="zyzd" min-width="140" header-align="center" show-overflow-tooltip label="主要诊断" sortable="custom"></el-table-column>
        <el-table-column prop="zycz" width="160" header-align="center" show-overflow-tooltip label="主要操作" sortable="custom"></el-table-column>
        <el-table-column prop="zyts" width="120" header-align="center" align="right" show-overflow-tooltip label="住院天数" sortable="custom"></el-table-column>
        <el-table-column prop="cyrq" width="120" header-align="center" align="center" show-overflow-tooltip label="出院日期" sortable="custom"></el-table-column>
        <el-table-column prop="zfy" width="120" header-align="center" align="right" show-overflow-tooltip label="住院总费用" :formatter="(r,c,v)=>{return v!==null?v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column width="90" header-align="center" align="center" show-overflow-tooltip label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showMore(scope.row.id)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <el-dialog title="病案详情" :visible.sync="dialogVisible" width="80%">
      <kindo-patientInfo :url="config.api.getById" :params="patientinfo"></kindo-patientInfo>
    </el-dialog>
  </div>
</template>

<script>
import config from './config'
import KindoOrganization from '../../../components/kindo-organization/KindoOrganization'
import KindoDateRange from '../../../components/kindo-date-range/index'
import KindoHosptial from '../../../components/kindo-hospital/KindoHosptial'
import KindoPatientInfo from '../../../components/kindo-patientInfo/index'

export default {
  components: {
    'kindo-organization': KindoOrganization,
    'kindo-date-range': KindoDateRange,
    'kindo-hospital': KindoHosptial,
    'kindo-patientInfo': KindoPatientInfo
  },
  data() {
    return {
      config: config,
      dialogVisible: false,
      searchForm: {
        city: '',
        cnty: '',
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        memberCode: '',
        drgValue: '',
        zysdValue: '',
        zyczValue: ''
      },
      searchTemp: {
        orge: ['全省'],
        cyrq: [new Date().proDate('{%M-3}'), new Date()] // 出院日期
      },
      source: {},
      patientinfo: {}
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  methods: {
    getData: function () {
      this.$refs.tableRef.loadData()
    },
    exportTable: function () {
      kindo.util.downloadFile(config.api.exportTable, this.searchForm)
    },
    showMore: async function (id) {
      this.patientinfo = { id: id }
      this.dialogVisible = true
    }
  },
  watch: {
    'searchTemp.cyrq': function (arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : null,
        endTime: arr && arr[1] ? arr[1].formatDate() : null
      })
    }
  }
}
</script>
