<template>
  <div>
    <kindo-card-search title="条件筛选" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :value="searchTemp.orge" :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get">查询</el-button>
        </el-form-item>
      </el-form>

      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="机构类型">
          <kindo-orgaType v-model="searchForm.memberTypeCode"></kindo-orgaType>
          <!-- <el-select v-model.trim="searchForm.memberTypeCode" placeholder="请选择" clearable filterable>
              <el-option v-for=" item in source.orgaType" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select> -->
        </el-form-item>
        <el-form-item label="机构等级">
          <kindo-orgaLevel v-model="searchTemp.memberLevelCode" :levOne.sync="searchForm.memberLev1" :levTwo.sync="searchForm.memberLev2"></kindo-orgaLevel>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="手术分布" collapse>
      <kindo-chart ref="chartRef" :options="chartOption"></kindo-chart>
    </kindo-card>

    <kindo-card title="手术分布详情" collapse>
      <div slot="control">
        <span style="font-size:13px;margin-top: 5px;">标准科室：</span>
        <kindo-department v-model.trim="searchForm.stdksdm"></kindo-department>
        <el-button style="margin-left: 10px;" icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </div>
      <kindo-table ref="tableRef" :pageSize="10" :queryParam="searchForm" :url="config.api.getTable" show-summary :summary-method="getSummaries" :default-sort="{prop: 'surgerySum', order: 'descending'}">
        <el-table-column prop="stdksmc" min-width="120" header-align="center" show-overflow-tooltip label="标准科室"></el-table-column>
        <el-table-column prop="surgerySum" width="120" header-align="center" align="right" show-overflow-tooltip label="手术台数" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show2(Object.assign({},scope.row,{ssfj:''}))">{{scope.row.surgerySum!==null? scope.row.surgerySum.formatNum(0):'-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="lev1_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="一级手术" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show2(Object.assign({},scope.row,{ssfj:'A'}))">{{scope.row.lev1_surgery!==null? scope.row.lev1_surgery.formatNum(0):'-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="lev2_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="二级手术" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show2(Object.assign({},scope.row,{ssfj:'B'}))">{{scope.row.lev2_surgery!==null? scope.row.lev2_surgery.formatNum(0):'-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="lev3_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="三级手术" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show2(Object.assign({},scope.row,{ssfj:'C'}))">{{scope.row.lev3_surgery!==null? scope.row.lev3_surgery.formatNum(0):'-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="lev4_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="四级手术" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show2(Object.assign({},scope.row,{ssfj:'D'}))">{{scope.row.lev4_surgery!==null? scope.row.lev4_surgery.formatNum(0):'-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="levTF_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="三四级手术" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show2(Object.assign({},scope.row,{ssfj:'E'}))">{{scope.row.levTF_surgery!==null? scope.row.levTF_surgery.formatNum(0):'-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="levTF_surgeryRatio" width="165" header-align="center" align="right" show-overflow-tooltip label="三四级手术占比（%）" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="jsnd" width="120" header-align="center" align="right" show-overflow-tooltip label="技术难度" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="fxcd" width="120" header-align="center" align="right" show-overflow-tooltip label="风险程度" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="pjzyts" width="120" header-align="center" align="right" show-overflow-tooltip label="平均住院天数" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="pjsqzyts" width="145" header-align="center" align="right" show-overflow-tooltip label="平均术前住院天数" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="pjzyfy" width="120" header-align="center" align="right" show-overflow-tooltip label="平均住院费用" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="pjssfy" width="120" header-align="center" align="right" show-overflow-tooltip label="平均手术费用" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="ssfyzb" width="160" header-align="center" align="right" show-overflow-tooltip label="手术费用占比（%）" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="yzb" width="120" header-align="center" align="right" show-overflow-tooltip label="药占比（%）" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column prop="hczb" width="140" header-align="center" align="right" show-overflow-tooltip label="耗材占比（%）" sortable="custom" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}"></el-table-column>
        <el-table-column min-width="80" header-align="center" show-overflow-tooltip label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" @click="show1(scope.row)" icon="el-icon-search">查看</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <el-dialog title="手术查询" :visible.sync="dialogVisible2" width="80%">
      <div style="text-align:right">
        <el-button class="exportBtn" @click="exportTable2" icon="fa fa-cloud-download">导出</el-button>
      </div>
      <kindo-table ref="tableRef2" :queryParam="Object.assign({},searchForm,{stdksdm:currentRow.stdksdm,ssfj:currentRow.ssfj})" :url="config.api.show2" :default-sort="{prop: 'ssts', order: 'descending'}">
        <el-table-column prop="cchiCode" width="100" header-align="center" show-overflow-tooltip label="CCHI" sortable="custom"></el-table-column>
        <el-table-column prop="cchiName" min-width="140" header-align="center" show-overflow-tooltip label="手术操作名称"></el-table-column>
        <el-table-column prop="ssts" width="120" header-align="center" align="right" show-overflow-tooltip label="手术台数" sortable="custom"></el-table-column>
        <el-table-column prop="ssfj" width="120" header-align="center" align="center" show-overflow-tooltip label="手术等级" :formatter="(r,c,v)=>{return kindo.dictionary.getLabel(source.surgeryLev,v)}" sortable="custom"></el-table-column>
        <el-table-column prop="jsnd" width="120" header-align="center" align="right" show-overflow-tooltip label="技术难度" sortable="custom"></el-table-column>
        <el-table-column prop="fxcd" width="120" header-align="center" align="right" show-overflow-tooltip label="风险程度" sortable="custom"></el-table-column>
        <el-table-column prop="pjzyts" width="120" header-align="center" align="right" show-overflow-tooltip label="平均住院天数" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjsqzyts" width="160" header-align="center" align="right" show-overflow-tooltip label="平均术前住院天数" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjzyfy" width="120" header-align="center" align="right" show-overflow-tooltip label="平均住院费用" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjssfy" width="120" header-align="center" align="right" show-overflow-tooltip label="平均手术费用" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="ssfyzb" width="160" header-align="center" align="right" show-overflow-tooltip label="手术费用占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="yzb" width="120" header-align="center" align="right" show-overflow-tooltip label="药占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="hczb" width="140" header-align="center" align="right" show-overflow-tooltip label="耗材占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>

    <el-dialog :title="currentRow.stdksmc+' 医院维度统计分析'" :visible.sync="dialogVisible1" width="80%">
      <div style="text-align:right">
        <el-button class="exportBtn" @click="exportTable1" icon="fa fa-cloud-download">导出</el-button>
      </div>
      <kindo-table ref="tableRef1" :queryParam="Object.assign({},searchForm,{stdksdm:currentRow.stdksdm})" :url="config.api.show" :default-sort="{prop: 'surgerySum', order: 'descending'}">
        <el-table-column prop="memberName" width="140" header-align="center" show-overflow-tooltip label="医院名称"></el-table-column>
        <el-table-column prop="surgerySum" width="120" header-align="center" align="right" show-overflow-tooltip label="手术台数" sortable="custom"></el-table-column>
        <el-table-column prop="lev1_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="一级手术" sortable="custom"></el-table-column>
        <el-table-column prop="lev2_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="二级手术" sortable="custom"></el-table-column>
        <el-table-column prop="lev3_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="三级手术" sortable="custom"></el-table-column>
        <el-table-column prop="lev4_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="四级手术" sortable="custom"></el-table-column>
        <el-table-column prop="levTF_surgery" width="120" header-align="center" align="right" show-overflow-tooltip label="三四级手术" sortable="custom"></el-table-column>
        <el-table-column prop="levTF_surgeryRatio" width="180" header-align="center" align="right" show-overflow-tooltip label="三四级手术占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="jsnd" width="120" header-align="center" align="right" show-overflow-tooltip label="技术难度" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="fxcd" width="120" header-align="center" align="right" show-overflow-tooltip label="风险程度" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjzyts" width="120" header-align="center" align="right" show-overflow-tooltip label="平均住院天数" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjsqzyts" width="160" header-align="center" align="right" show-overflow-tooltip label="平均术前住院天数" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjzyfy" width="120" header-align="center" align="right" show-overflow-tooltip label="平均住院费用" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="pjssfy" width="120" header-align="center" align="right" show-overflow-tooltip label="平均手术费用" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="ssfyzb" width="160" header-align="center" align="right" show-overflow-tooltip label="手术费用占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="yzb" width="120" header-align="center" align="right" show-overflow-tooltip label="药占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
        <el-table-column prop="hczb" width="140" header-align="center" align="right" show-overflow-tooltip label="耗材占比（%）" :formatter="(r,c,v)=>{return v!==null? v.formatNum():'-'}" sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>
  </div>
</template>

<script>
import config from './config'
import KindoOrganization from '../../../components/kindo-organization/KindoOrganization'
import KindoOrgaLevel from '../../../components/kindo-orgaLevel/KindoOrgaLevel'
import KindoDepartment from '../../../components/kindo-department/KindoDepartment'
import KindoOrgaType from '@/components/kindo-orgaType/KindoOrgaType'

export default {
  components: {
    'kindo-organization': KindoOrganization,
    'kindo-orgaLevel': KindoOrgaLevel,
    'kindo-department': KindoDepartment,
    'kindo-orgaType': KindoOrgaType
  },
  async created() {
    // 机构类型
    let resOrgaType = await kindo.dictionary.getDictionary('OT_04')
    this.source.orgaType = resOrgaType || []

    // 手术等级
    let resSurgeryLev = await kindo.dictionary.getDictionary('CC06_00_255_00')
    this.source.surgeryLev = resSurgeryLev || []
  },
  data() {
    return {
      config: config,
      dialogVisible1: false,
      dialogVisible2: false,
      searchForm: {
        city: '',
        cnty: '',
        year: '',
        quarter: '',
        month: '',
        stdksdm: '',
        memberTypeCode: '',
        memberLev1: '',
        memberLev2: ''
      },
      searchTemp: {
        orge: [''],
        memberLevelCode: ['']
      },
      source: {
        orgaType: []
      },
      chartOption: {
        grid: {
          top: 50,
          right: 70,
          bottom: 50
        },
        tooltip: {
          trigger: 'axis',
          formatter: function(paras) {
            let str = ''
            if (paras) {
              paras.forEach(o => {
                str += o.seriesName + '：' + o.data.value + '<br>'
              })
              return paras[0].name + '<br>手术总数：' + paras[0].data.obj.sum + '<br>' + str
            } else {
              return ''
            }
          }
        },
        legend: {
          data: ['一级手术', '二级手术', '三级手术', '四级手术']
        },
        calculable: true,
        xAxis: [
          {
            name: '标准科室',
            splitLine: false,
            type: 'category',
            data: []
          }
        ],
        yAxis: [
          {
            name: '手术台数',
            splitLine: false,
            type: 'value'
          }
        ],
        series: [
          {
            name: '一级手术',
            type: 'bar',
            barWidth: '60%',
            barMaxWidth: '50px',
            stack: 'aa',
            data: []
          },
          {
            name: '二级手术',
            type: 'bar',
            barWidth: '60%',
            barMaxWidth: '50px',
            stack: 'aa',
            data: []
          },
          {
            name: '三级手术',
            type: 'bar',
            barWidth: '60%',
            barMaxWidth: '50px',
            stack: 'aa',
            data: []
          },
          {
            name: '四级手术',
            type: 'bar',
            barWidth: '60%',
            barMaxWidth: '50px',
            stack: 'aa',
            data: []
          }
        ],
        dataZoom: [
          {
            type: 'slider',
            show: false,
            xAxisIndex: 0,
            start: 0,
            end: 0,
            bottom: 0
          }
        ]
      },
      currentRow: {},
      sumInfo: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.get()
    })
  },
  methods: {
    get: function() {
      this.getChartData()
      this.getTableData()
    },
    getChartData: function() {
      let vm = this

      this.$http.get(config.api.getChart, { params: this.searchForm }).then(res => {
        // 医院名称
        let memberNames = []
        if (res && res.data) {
          res.data.forEach(function(o) {
            memberNames.push(o.stdksmc)
          })
        }

        // 一级手术
        let lev1Arr = []
        if (res && res.data) {
          res.data.forEach(function(o) {
            lev1Arr.push({ value: o.lev1_surgery, obj: { sum: o.surgerySum } })
          })
        }

        // 二级手术
        let lev2Arr = []
        if (res && res.data) {
          res.data.forEach(function(o) {
            lev2Arr.push({ value: o.lev2_surgery, obj: { sum: o.surgerySum } })
          })
        }

        // 三级手术
        let lev3Arr = []
        if (res && res.data) {
          res.data.forEach(function(o) {
            lev3Arr.push({ value: o.lev3_surgery, obj: { sum: o.surgerySum } })
          })
        }

        // 四级手术
        let lev4Arr = []
        if (res && res.data) {
          res.data.forEach(function(o) {
            lev4Arr.push({ value: o.lev4_surgery, obj: { sum: o.surgerySum } })
          })
        }

        // datazoom
        let tempDatazoom = {}
        if (res.data.length > 20) {
          tempDatazoom = { show: true, end: parseInt(20 / res.data.length * 100) }
        } else {
          tempDatazoom = { show: false }
        }

        vm.$refs.chartRef.mergeOptions({
          xAxis: [{ data: memberNames }],
          series: [{ data: lev1Arr }, { data: lev2Arr }, { data: lev3Arr }, { data: lev4Arr }],
          dataZoom: tempDatazoom
        })
      })
    },
    getTableData: async function() {
      let sumTemp = await this.$http.get(config.api.sum, { params: this.searchForm })
      this.sumInfo = sumTemp.data
      this.$refs.tableRef.loadData()
    },
    getTableData1: function() {
      this.$refs.tableRef1.reloadData()
    },
    show1: function(row) {
      this.currentRow = row
      this.dialogVisible1 = true

      this.$nextTick(() => {
        this.getTableData1()
      })
    },
    show2: function(row) {
      this.currentRow = row
      this.dialogVisible2 = true

      this.$nextTick(() => {
        this.$refs.tableRef2.reloadData()
      })
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.searchForm)
    },
    exportTable1: function() {
      kindo.util.downloadFile(config.api.exportTable1, Object.assign({}, this.searchForm, { stdksdm: this.currentRow.stdksdm }))
    },
    exportTable2: function() {
      kindo.util.downloadFile(
        config.api.exportTable2,
        Object.assign({}, this.searchForm, { stdksdm: this.currentRow.stdksdm, ssfj: this.currentRow.ssfj })
      )
    },
    getSummaries: function(param) {
      const { columns } = param
      const sums = []

      if (this.sumInfo) {
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '合计'
            return
          }
          switch (index) {
            case 2:
              sums[index] = this.sumInfo.surgerySum !== null ? this.sumInfo.surgerySum.formatNum(0) : '-'
              break
            case 3:
              sums[index] = this.sumInfo.lev1_surgery !== null ? this.sumInfo.lev1_surgery.formatNum(0) : '-'
              break
            case 4:
              sums[index] = this.sumInfo.lev2_surgery !== null ? this.sumInfo.lev2_surgery.formatNum(0) : '-'
              break
            case 5:
              sums[index] = this.sumInfo.lev3_surgery !== null ? this.sumInfo.lev3_surgery.formatNum(0) : '-'
              break
            case 6:
              sums[index] = this.sumInfo.lev4_surgery !== null ? this.sumInfo.lev4_surgery.formatNum(0) : '-'
              break
            case 7:
              sums[index] = this.sumInfo.levTF_surgery !== null ? this.sumInfo.levTF_surgery.formatNum(0) : '-'
              break
            case 8:
              sums[index] = this.sumInfo.levTF_surgeryRatio !== null ? this.sumInfo.levTF_surgeryRatio.formatNum() : '-'
              break
            case 11:
              sums[index] = this.sumInfo.pjzyts !== null ? this.sumInfo.pjzyts.formatNum() : '-'
              break
            case 12:
              sums[index] = this.sumInfo.pjsqzyts !== null ? this.sumInfo.pjsqzyts.formatNum() : '-'
              break
            case 13:
              sums[index] = this.sumInfo.pjzyfy !== null ? this.sumInfo.pjzyfy.formatNum() : '-'
              break
            case 14:
              sums[index] = this.sumInfo.pjssfy !== null ? this.sumInfo.pjssfy.formatNum() : '-'
              break
            case 15:
              sums[index] = this.sumInfo.ssfyzb !== null ? this.sumInfo.ssfyzb.formatNum() : '-'
              break
            case 16:
              sums[index] = this.sumInfo.yzb !== null ? this.sumInfo.yzb.formatNum() : '-'
              break
            case 17:
              sums[index] = this.sumInfo.hczb !== null ? this.sumInfo.hczb.formatNum() : '-'
              break
            default:
              break
          }
        })
      }
      return sums
    }
  },
  watch: {
    'searchForm.stdksdm': function() {
      this.getTableData()
    }
  }
}
</script>

