<template>
  <div>
    <kindo-card title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="70px">
        <el-row>
          <el-col :span="6">
            <el-form-item label="组织机构">
              <kindo-organization :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="医院名称">
              <kindo-hospital v-model="searchForm.memberCode"></kindo-hospital>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="数据接收日期" label-width="100px">
              <kindo-data-range v-model="searchForm.date"></kindo-data-range>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="病案号">
              <el-input v-model="searchForm.bah"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="text-align: right">
            <el-button type="primary" icon="el-icon-search" @click="search()">查询</el-button>
          </el-col>
        </el-row>
      </el-form>
    </kindo-card>
    <kindo-card title="" collapse>
      <template slot="control">
        <el-button icon="fa fa-cloud-download">导出</el-button>
      </template>
      <kindo-table :url="api.listpage" :queryParam="searchForm" ref="table" :default-sort="{prop:'bah',order:'descending'}">
        <el-table-column label="医院名称" prop="memberName" show-overflow-tooltip min-width="150" fixed="left" sortable="custom"></el-table-column>
        <el-table-column label="病案号" prop="bah" width="110" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="住院次数" prop="" width="110" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="数据接收日期" prop="" width="130" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="错误名称" prop="" width="110" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="错误描述" prop="" width="110" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="操作" width="130" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showTable(scope.row, 'detailDepartment', 'detail')">明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
import KindoOrganization from '@/components/kindo-organization/KindoOrganization'
import KindoDateRange from '@/components/kindo-date-range/index'
export default {
  components: {
    'kindo-hospital': KindoHosptial,
    'kindo-organization': KindoOrganization,
    'kindo-data-range': KindoDateRange
  },
  data() {
    return {
      api: {
        listpage: kindo.config.api + 'pz/rwtpz/listpage',
        use: kindo.config.api + 'pz/rwtpz/use',
        drgname: kindo.config.api + 'pz/rwtpz/drgname'
      },
      searchForm: {
        city: '',
        cnty: '',
        memberCode: '',
        date: '',
        status: '',
        bah: ''
      },
      params: {},
      dict: {
        mdcCategory: []
      }
    }
  },
  methods: {
    search() {
    }
  }
}
</script>

