<template>
  <div>
    <kindo-card-search title="条件筛选" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="机构类型">
          <kindo-orgaType v-model="searchForm.memberTypeCode"></kindo-orgaType>
          <!-- <el-select v-model="searchForm.memberTypeCode" clearable>
              <el-option v-for="(item,index) in dict.OT_04" :key="'机构类型' + index" :label="item.label" :value="item.value"></el-option>
            </el-select> -->
        </el-form-item>
        <el-form-item label="机构等级">
          <kindo-orgaLevel :levOne.sync="searchForm.memberLevelCode1" :levTwo.sync="searchForm.memberLevelCode2"></kindo-orgaLevel>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="问题病案质控分析">
      <kindo-chart :options="chartBar"></kindo-chart>
    </kindo-card>

    <kindo-card title="病案质控详情" collapse>
      <template slot="control">
        <span style="font-size: 13px;margin-top: 5px;">标准科室： </span>
        <kindo-department v-model="formTransit.deptCode"></kindo-department>
        <el-button style="margin-left: 10px;" @click="exportTable(api.export, searchForm)" icon="fa fa-cloud-download">导出</el-button>
      </template>
      <kindo-table :url="api.queryListpage" :queryParam="searchForm" ref="table" width="100%" :default-sort="{prop:'sumNum',order:'descending'}" show-summary sum-text="合计" :summary-method="getSummaries" :row-key="getRowKey" @expand-change="(row) => expandChange(row, 'table')">
        <!-- <kindo-table :data="[{deptCode: '1',errorNum: 10, hqmsNum: 5, drgNum: 5}, {}, {}]" :url="api.queryListpage" ref="table" @expand-change="(row) => expandChange(row, 'table')" show-summary sum-text="合计" :summary-method="getSummaries"> -->
        <el-table-column type="expand">
          <template slot-scope="props">
            <el-row v-if="props.row.hasOwnProperty('child')">
              <el-col :span="12">
                <div class="downList">
                  <p class="title">{{props.row.child.hqms.title}}</p>
                  <ul>
                    <li v-for="(item, index) in props.row.child.hqms.data" :key="index">
                      <!-- <span>error{{index}}</span> -->
                      <span class="label">{{item.label}}</span>
                      <span>{{item.value}}</span>
                    </li>
                  </ul>
                </div>
              </el-col>
              <el-col :span="12">
                <div class="downList">
                  <p class="title">{{props.row.child.drg.title}}</p>
                  <ul>
                    <li v-for="(item, index) in props.row.child.drg.data" :key="index">
                      <!-- <span>error{{index}}</span> -->
                      <span class="label">{{item.label}}</span>
                      <span>{{item.value}}</span>
                    </li>
                  </ul>
                </div>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
        <el-table-column prop="deptName" min-width="120" header-align="center" show-overflow-tooltip label="标准科室"></el-table-column>
        <el-table-column prop="sumNum" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="120" header-align="center" label="总病案数" align="right" sortable="custom"></el-table-column>
        <el-table-column width="120" header-align="center" show-overflow-tooltip label="问题病案" align="center">
          <el-table-column prop="errorNum" width="140" header-align="center" label="问题病案总数" align="right" sortable="custom">
            <template slot-scope="scope">
              <el-button type="text" @click="showTable(scope.row, 'popupVisi', 'popup', '')">{{ scope.row.errorNum }}</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="hqmsNum" width="160" header-align="center" label="HQMS校验未通过" align="right" sortable="custom">
            <template slot-scope="scope">
              <el-button type="text" @click="showTable(scope.row, 'popupVisi', 'popup', '2')">{{ scope.row.hqmsNum }}</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="drgNum" width="150" header-align="center" label="DRG校验未通过" align="right" sortable="custom">
            <template slot-scope="scope">
              <el-button type="text" @click="showTable(scope.row, 'popupVisi', 'popup', '3')">{{ scope.row.drgNum }}</el-button>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="inBa" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="120" header-align="center" label="入组病案数" align="right" sortable="custom"></el-table-column>
        <el-table-column prop="notInBa" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="120" header-align="center" label="未入组" align="right" sortable="custom"></el-table-column>
        <el-table-column width="75" header-align="center" label="操作">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showTable(scope.row, 'detailView', 'detail')">查看</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <!-- 数据 -->
    <el-dialog title="问题病案查询" v-drag :visible.sync="popupVisi" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.exportPopup, showForm)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.popup" :queryParam="showForm" ref="popup">
        <el-table-column label="医院名称" min-width="140" prop="memberName" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="病案号" min-width="120" prop="bah" header-align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="出院日期" width="100" prop="cysj" header-align="center" align="center"></el-table-column>
        <el-table-column label="住院天数" width="100" prop="zyts" align="right" header-align="center"></el-table-column>
        <el-table-column label="主要诊断ICD10" min-width="140" prop="zdms" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="主要操作ICD9" min-width="140" prop="cchimc1" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="错误类型" width="100" prop="errType" header-align="center" align="center"></el-table-column>
        <el-table-column label="错误描述" width="140" prop="errMemo" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="出院科室" width="100" prop="cyks" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="离院方式" width="100" prop="lyfs" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="操作" header-align="center" width="90">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="queryBa(scope.row)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- 病案详情 -->
    <el-dialog title="病案详情" :visible.sync="detailBa.visible" width="90%">
      <kindo-patientInfo :url="detailBa.url" :params="{id: detailBa.bahId}"></kindo-patientInfo>
    </el-dialog>

    <!-- 详情 -->
    <el-dialog :title="popupTitle +' 医院病案统计'" v-drag :visible.sync="detailView" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.detailExport, showForm)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.detail" :queryParam="showForm" ref="detail" width="100%" :default-sort="{prop:'sumNum',order:'descending'}" show-summary sum-text="合计" :summary-method="getSummariesDetail" :row-key="getRowKey" @expand-change="(row) => expandChange(row, 'detail')">
        <!-- <kindo-table :data="[{deptCode: '1', errorNum: 10, hqmsNum: 5, drgNum: 5}, {}, {}]" :url="api.detail" ref="detail" @expand-change="(row) => expandChange(row, 'detail')" show-summary sum-text="合计" :summary-method="getSummaries"> -->
        <el-table-column type="expand">
          <template slot-scope="props">
            <el-row v-if="props.row.hasOwnProperty('child')">
              <el-col :span="12">
                <div class="downList">
                  <p class="title">{{props.row.child.hqms.title}}</p>
                  <ul>
                    <li v-for="(item, index) in props.row.child.hqms.data" :key="index">
                      <!-- <span>error{{index}}</span> -->
                      <span class="label">{{item.label}}</span>
                      <span>{{item.value}}</span>
                    </li>
                  </ul>
                </div>
              </el-col>
              <el-col :span="12">
                <div class="downList">
                  <p class="title">{{props.row.child.drg.title}}</p>
                  <ul>
                    <li v-for="(item, index) in props.row.child.drg.data" :key="index">
                      <!-- <span>error{{index}}</span> -->
                      <span class="label">{{item.label}}</span>
                      <span>{{item.value}}</span>
                    </li>
                  </ul>
                </div>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
        <el-table-column prop="memberName" min-width="120" header-align="center" show-overflow-tooltip label="医院名称"></el-table-column>
        <el-table-column prop="sumNum" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="120" header-align="center" label="总病案数" align="right" sortable="custom"></el-table-column>
        <el-table-column width="120" header-align="center" show-overflow-tooltip label="问题病案" align="center">
          <el-table-column prop="errorNum" width="140" header-align="center" label="问题病案总数" align="right" sortable="custom"></el-table-column>
          <el-table-column prop="hqmsNum" width="160" header-align="center" label="HQMS校验未通过" align="right" sortable="custom"></el-table-column>
          <el-table-column prop="drgNum" width="150" header-align="center" label="DRG校验未通过" align="right" sortable="custom"></el-table-column>
        </el-table-column>
        <el-table-column prop="inBa" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="120" header-align="center" label="入组病案数" align="right" sortable="custom"></el-table-column>
        <el-table-column prop="notInBa" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="120" header-align="center" label="未入组" align="right" sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>
  </div>
</template>

<script>
import medical from '@/mixins/medical.js'
import KindoDepartment from '@/components/kindo-department/KindoDepartment'
import KindoOrgaType from '@/components/kindo-orgaType/KindoOrgaType'
export default {
  mixins: [medical],
  components: {
    'kindo-department': KindoDepartment,
    'kindo-orgaType': KindoOrgaType
  },
  data() {
    return {
      api: {
        queryListpage: kindo.config.api.cDrgQC + 'baqc/standardDeptBas/queryListpage',
        queryList: kindo.config.api.cDrgQC + 'baqc/standardDeptBas/queryList',
        popup: kindo.config.api.cDrgQC + 'baqc/hospitalbas/popupStatistics',
        querySum: kindo.config.api.cDrgQC + 'baqc/standardDeptBas/querySum',
        dropdown: kindo.config.api.cDrgQC + 'baqc/standardDeptBas/dropdownStatistics',

        detail: kindo.config.api.cDrgQC + '/baqc/hospitalbas/queryListpage',
        detailSum: kindo.config.api.cDrgQC + 'baqc/hospitalbas/querySum',
        detailExport: kindo.config.api.cDrgQC + 'baqc/hospitalbas/export',

        export: kindo.config.api.cDrgQC + 'baqc/standardDeptBas/export',
        exportPopup: kindo.config.api.cDrgQC + 'baqc/standardDeptBas/popupStatistics/export'
      },
      rowKey: [],
      chartData: [],
      searchForm: {
        year: '',
        quarter: '',
        month: '',
        city: '',
        cnty: '',
        memberTypeCode: '',
        memberLevelCode1: '',
        memberLevelCode2: '',
        memberCode: '',
        deptCode: '',
        errType: ''
      },
      showForm: {},
      formTransit: {
        deptCode: ''
      },
      popupForm: {
        year: '',
        quarter: '',
        month: '',
        deptCode: '',
        errType: ''
      },
      popupTitle: '',
      dict: {
        OT_04: []
      },
      sumData: {},
      sumDataDetail: {},
      chartBar: null,

      detailView: false,
      detailBa: {
        visible: false,
        hosName: '',
        bahId: '',
        url: kindo.config.api.cDrgQC + 'baqc/colligation/queryDetail'
      },
      popupVisi: false
    }
  },
  watch: {
    'formTransit.deptCode': function(val) {
      this.searchForm.deptCode = val
      this.loadTable('table')
    }
  },
  created() {
    this.getDictionary('dict')
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.getEcharts()
      this.loadTable('table')
    },
    getEcharts() {
      this.chartBar = this.setBar('标准科室')

      this.getBar(this.chartBar, this.api.queryList)
    },
    deptChange() {
      console.log('deptChange')
    }
  }
}
</script>
<style scoped lang="scss">
.downList {
  padding: 10px 15px;
  .title {
    margin: 0;
    line-height: 24px;
    font-weight: bold;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    line-height: 22px;
    display: flex;
    span {
      display: inline-block;
      margin-right: 15px;
      &.label {
        width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>

