<template>
  <div>
    <kindo-card-search title="条件筛选" icon="fa-search">
      <el-form onsubmit="return false;" @keyup.enter.native="get" label-position="right" label-width="110px" :model="form" ref="form" inline>
        <el-form-item label="类目查询">
          <el-select v-model.trim="form.category" placeholder="请选择" clearable filterable>
            <el-option v-for=" item in source.category" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="操作名称">
          <el-input v-model.trim="form.icd9CodeOrName" placeholder="请输入编码或名称"></el-input>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get">查询</el-button>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card>
      <kindo-table :url="url" :queryParam="form" ref="table" :pageSize="20">
        <el-table-column width="120px" label="主要编码" prop="icd9Code" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column width="120px" label="附加编码" prop="icd9AdditionalCode" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column min-width="160px" label="操做名称" prop="icd9Name" header-align="center" show-overflow-tooltip> </el-table-column>
        <el-table-column width="160px" label="属性" prop="attribute" header-align="center" show-overflow-tooltip> </el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import config from './config'

export default {
  data() {
    return {
      form: {
        category: '',
        icd9CodeOrName: ''
      },

      source: {
        category: []
      },

      url: config.api.get
    }
  },
  async created() {
    let resCategory = await kindo.dictionary.getDictionary('DICT_ICD9')
    this.source.category = resCategory || []
  },

  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      this.$refs.table.reloadData()
    }
  }
}
</script>

<style>

</style>
