<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="MDC分类">
          <el-select v-model="searchForm.mdcCode" clearable filterable>
            <el-option v-for="(item,index) in dict.DICT_DYN_MDC" :key="'MDC' + index" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="DRG名称">
          <!-- <el-select v-model="searchForm.drgCode" clearable filterable>
              <el-option v-for="(item,index) in dict.DICT_DYN_DRG" :key="'DRG' + index" :label="item.label" :value="item.value"></el-option>
            </el-select> -->
          <el-input placeholder="输入DRG编码/名称进行查询" v-model="searchForm.drgCode" />
          <!-- <el-autocomplete v-model="searchForm.drgCode" :fetch-suggestions="querySearchAsync" placeholder="输入DRG编码/名称进行查询" @select="drgSelect"></el-autocomplete> -->
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </el-form-item>
      </el-form>

    </kindo-card-search>

    <kindo-card title="权重配置">
      <template slot="control">
        <el-button style="margin-left: 10px;" @click="kindo.util.downloadFile(api.export, searchForm)" icon="fa fa-cloud-download">导出</el-button>
      </template>
      <el-form :model="form" label-width="70px" inline>
        <el-form-item label="选择权重">
          <el-radio v-model="form.rwtType" label="1">国家权重</el-radio>
          <el-radio v-model="form.rwtType" label="2">地区权重</el-radio>
          <el-button style="margin-left: 20px;" @click="save">应用于系统</el-button>
        </el-form-item>
        <el-form-item style="margin-left:20px;">当前系统使用的是
          <el-button type="text" style="font-size:14px;" v-text="getType(sysInfo.type)">-</el-button> 应用时间为
          <el-button type="text" style="font-size:14px;" v-text="sysInfo.date">-</el-button>
        </el-form-item>
      </el-form>

      <kindo-table :url="api.listpage" :queryParam="searchForm" ref="table" :pageSize="20">
        <el-table-column prop="drgCode" width="120" label="DRG编码"></el-table-column>
        <el-table-column prop="drgName" min-width="120" header-align="center" show-overflow-tooltip label="DRG名称"></el-table-column>
        <el-table-column prop="crwt" width="120" label="国家权重" header-align="center" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}"></el-table-column>
        <el-table-column prop="prwt" width="120" label="地区权重" header-align="center" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}"></el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'pz/rwtpz/listpage',
        use: kindo.config.api.cDrgKPI + 'pz/rwtpz/use',
        drgname: kindo.config.api.cDrgKPI + 'pz/rwtpz/drgname',
        useinfo: kindo.config.api.cDrgKPI + 'pz/rwtpz/useinfo',
        export: kindo.config.api.cDrgKPI + 'pz/rwtpz/exportlistpage'
      },
      searchForm: {
        drgCode: '',
        mdcCode: ''
      },
      form: {
        rwtType: '1'
      },
      dict: {
        mdcCategory: [],
        DICT_DYN_DRG: [],
        DICT_DYN_MDC: []
      },
      sysInfo: {}
    }
  },
  created() {
    this.getDictionary('dict')
    this.getInfo()
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.$refs['table'].reloadData()
    },
    async getInfo() {
      let data = await this.$http.get(this.api.useinfo, this.form)
      this.sysInfo = data.data.rows
      this.form.rwtType = this.sysInfo.type
    },
    getType(val) {
      if (val) {
        return val === '1' ? '国家权重' : '地区权重'
      } else {
        return '-'
      }
    },
    getDictionary(obj) {
      for (let k in this[obj]) {
        if (this[obj].hasOwnProperty(k)) {
          kindo.dictionary.getDictionary(k).then(res => {
            this[obj][k] = res || []
          })
        }
      }
    },
    save() {
      this.$http.put(this.api.use, { rwtType: this.form.rwtType }).then(res => {
        kindo.util.alert(res.message)
        this.getInfo()
      })
    },
    getNum(val, precision = 2) {
      if (val || val === 0) {
        return val.formatNum(precision)
      } else {
        return '-'
      }
    },
    async querySearchAsync(queryString, cb) {
      let results = []
      let data = await this.$http.get(this.api.drgname, { params: { drgCode: queryString } })
      for (let item of data.data) {
        results.push({ value: item.drgname, label: item.drgcode })
      }
      cb(results)
    },
    drgSelect(val) {
      this.searchForm.drgCode = val.label
    }
  }
}
</script>

