<template>
  <div class="container">
    <div class="sys-title">
      <img src="@/assets/img_login/logo.png"/>
    </div>
    <div class="main">
      <div class="login-form">
        <div class="login-title">用户登录</div>
        <el-form ref="form" :model="view.model" :rules="view.rules" @submit.native.prevent @keyup.enter.native="signIn">
          <el-form-item class="sign-input" prop="userName">
            <el-input autofocus v-model.trim="view.model.userName" placeholder="用户名" prefix-icon="fa-user-o" size="large"></el-input>
          </el-form-item>
          <el-form-item class="sign-input" prop="password">
            <el-input v-model.trim="view.model.password" type="password" placeholder="密码" prefix-icon="fa-key" size="large"></el-input>
          </el-form-item>
          <el-form-item style="text-align:center;">
            <el-button type="primary" class="sign-btn" @click="signIn" size="large">登 录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="footer">
      <p>建议使用Chrome等现代浏览器, 建议使用1920 * 1080分辨率 </p>
    </div>
  </div>
</template>

<script>
import { user } from './type'

export default {
  data() {
    return {
      title: kindo.config.title,
      subTitle: kindo.config.subTitle,

      config: {
        api: {
          signIn: kindo.config.api.upms + 'user/login/signIn'
        }
      },

      view: {
        model: {
          userName: '',
          password: ''
        },
        rules: {
          userName: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
          password: [{ required: true, message: '请输入密码', trigger: 'blur' }]
        }
      }
    }
  },

  created() {
    const userInfo = kindo.cache.get(user.USER_INFO)

    if (userInfo) {
      this.view.model.userName = userInfo.loginNo
    }
  },

  methods: {
    signIn() {
      this.$refs.form.validate(valid => {
        if (valid) {
          const param = {
            loginNo: this.view.model.userName,
            pwd: kindo.util.md5(this.view.model.password),
            rememberMe: 1
          }

          this.$http.post(this.config.api.signIn, param).then(res => {
            const userInfo = res.data
            kindo.cache.set(user.USER_INFO, userInfo, 'local')

            // 跳转首页
            this.$router.push('/')
          })
        }
      })
    },

    reset() {
      this.$refs.form.resetFields()
    }
  }
}
</script>
<style scoped>
.sys-title {
  border-bottom: 1px solid #dbdbdb;
}
.sys-title img {
  margin: 2% 0 2% 5%;
}
.container {
  position: absolute;
  background-color: #feffff;
  width: 100%;
  height: 100%;
  background-image: url(assets/img_login/pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.main {
  position: absolute;
  width: 480px;
  height: 380px;
  top: 50%;
  right: 12%;
  margin-top: -190px;
  background-color: #fff;
}

.login-form {
  margin: 0 45px;
}
.login-title {
  margin: 38px 0;
  border-left: 5px solid #03bdd6;
  color: #444;
  font-size: 28px;
  padding-left: 20px;
}
.el-input__inner {
  height: 50px;
}

.login-form .sign-input {
  margin-bottom: 35px;
}

.login-form .sign-btn {
  width: 100%;
  height: 50px;
  font-size: 22px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

</style>
<style>
.login-form .el-input__inner {
  height: 48px;
  font-size: 18px;
}
.login-form .el-form-item__error{
  font-size: 16px;
}
</style>

