/*
 * @Author: lilizhou
 * @Description:  数据中心-数据中心-最小数据集病案信息 
 * @Last Modified by: lilizhou
 * @Last Modified time: 2018-07-25 16:11:33
 */

<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="数据接收日期" label-width="100px">
          <kindo-data-range v-model.trim="searchTemp.cyrq"></kindo-data-range>
        </el-form-item>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="get()">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="病案号">
          <el-input v-model.trim="searchForm.bah"></el-input>
        </el-form-item>
        <el-form-item label=" ">
        </el-form-item>
      </el-form>
      <div slot="control">
      </div>
    </kindo-card-search>
    <kindo-card title="最小数据集病案信息">
      <template slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </template>
      <kindo-table ref="table" :url="config.api.get" :queryParam="search" :pageSize="20">
        <el-table-column min-width="120" label="医院代码" header-align="center" align="left" prop="hosId" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="医院名称" header-align="center" align="left" prop="userName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="病案号" header-align="center" align="left" prop="bah" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="住院次数" header-align="center" align="right" prop="zycs" show-overflow-tooltip></el-table-column>
        <!-- GB_T2261_1 -->
        <el-table-column min-width="80" label="性别" header-align="center" prop="xb" align="center" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="80" label="年龄" header-align="center" align="right" prop="nl" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="入院途径" header-align="center" align="center" prop="rytj" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="入院时间" header-align="center" align="center" prop="rysj" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="出院科别" header-align="center" align="left" prop="cykb" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="出院时间" header-align="center" prop="cysj" align="center" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="离院方式" header-align="center" align="left" prop="lyfs" show-overflow-tooltip></el-table-column>
        <!-- <el-table-column min-width="120" label="病案类型" prop="batype" show-overflow-tooltip></el-table-column> -->
        <el-table-column min-width="120" label="总费用" prop="zfy" header-align="center" align="right" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="140" label="数据接收时间" header-align="center" align="center" prop="syndate" :formatter="kindo.util.formatTime" show-overflow-tooltip></el-table-column>
        <el-table-column width="90" header-align="center" align="center" label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showMore(scope.row.id)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>
    <el-dialog title="病案详情" :visible.sync="dialogVisible" width="80%">
      <kindo-patientInfo :url="config.api.getById" :params="patientinfo"></kindo-patientInfo>
    </el-dialog>
  </div>
</template>

<script>
import KindoDateRange from '@/components/kindo-date-range/index'
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
import KindoPatientInfo from '@/components/kindo-patientInfo/index'
import mixinKPI from '@/mixins/mixinKPI.js'
import config from './config'

export default {
  mixins: [mixinKPI],
  components: {
    'kindo-data-range': KindoDateRange,
    'kindo-hospital': KindoHosptial,
    'kindo-patientInfo': KindoPatientInfo
  },
  data() {
    return {
      dict: {
        // 入院途径
        // CC06_00_237_00: [],
        // 离院方式
        // CC06_00_223_00: [],
        // 性别
        // GB_T2261_1: []
      },
      patientinfo: {},
      config: config,
      dialogVisible: false,
      searchForm: {
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        memberCode: '',
        bah: ''
      },
      searchTemp: {
        orge: ['全省'],
        cyrq: [new Date().proDate('{%M-3}'), new Date()] // 出院日期
      }
    }
  },
  computed: {
    search: function() {
      let params = { memberCode: '', startTime: '', endTime: '', bah: '' }
      params.memberCode = this.searchForm.memberCode
      params.startTime = this.searchForm.bgTime + ' 00:00:00'
      params.endTime = this.searchForm.endTime + ' 23:59:59'
      params.bah = this.searchForm.bah
      return params
    }
  },
  created() {
    // this.getDictionary('dict')
  },
  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      console.log(this.search)
      this.$refs.table.reloadData({ queryParam: this.search })
    },
    showMore: async function(id) {
      this.patientinfo = { id: id }
      this.dialogVisible = true
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.search)
    }
  },
  watch: {
    'searchTemp.cyrq': function(arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : '',
        endTime: arr && arr[1] ? arr[1].formatDate() : ''
      })
    }
  }
}
</script>

<style>

</style>
