<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="search('table')">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="机构类型">
          <kindo-orgaType v-model="searchForm.yljglx"></kindo-orgaType>
          <!-- <el-select v-model="searchForm.yljglx" clearable>
                      <el-option v-for="(item,index) in dict.OT_04" :key="'机构类型' + index" :label="item.label" :value="item.value"></el-option>
                    </el-select> -->
        </el-form-item>
        <el-form-item label="机构等级">
          <kindo-orgaLevel :levOne.sync="searchForm.lev1" :levTwo.sync="searchForm.lev2"></kindo-orgaLevel>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card title="科室DRG绩效评价" collapse>
      <template slot="control">
        <el-radio-group v-model="tabsBtn" @change="tabsChange('标准科室')">
          <el-radio-button label="综合绩效">综合绩效</el-radio-button>
          <el-radio-button label="产能">产能</el-radio-button>
          <el-radio-button label="效率">效率</el-radio-button>
          <el-radio-button label="安全">安全</el-radio-button>
        </el-radio-group>
      </template>

      <kindo-chart v-show="tabsBtn === '综合绩效'" :options="chartPerformance" autoResize></kindo-chart>
      <kindo-chart v-show="tabsBtn === '产能'" :options="chartProductivity" autoResize></kindo-chart>
      <kindo-chart v-show="tabsBtn === '效率'" :options="chartEfficiency" autoResize></kindo-chart>
      <kindo-chart v-show="tabsBtn === '安全'" :options="chartSafe" autoResize @legendselectchanged="chartClick" ref="safeChart"></kindo-chart>
    </kindo-card>

    <kindo-card title="科室DRG指标汇总" collapse>
      <template slot="control">
        <span style="font-size:13px;margin-top: 5px;">标准科室：</span>
        <kindo-department v-model="searchForm.ksCode"></kindo-department>
        <div class="dep-legend-table">
          <div class="legend-title">
            <span>
              <i class="circle c1"></i>能力</span>
            <span>
              <i class="circle c2"></i>效率</span>
            <span>
              <i class="circle c3"></i>安全</span>
          </div>
        </div>
        <el-button style="margin-left: 10px;" icon="fa fa-cloud-download" @click="exportTable(api.exportlistpage, searchForm)">导出</el-button>
      </template>

      <kindo-table :url="api.listpage" class="dep-legend-table" :queryParam="searchForm" ref="table" :default-sort="{prop:'zhjx',order:'descending'}">
        <el-table-column label="标准科室" prop="ksmc" show-overflow-tooltip min-width="150" fixed="left" header-align="center" class-name="tt"></el-table-column>
        <el-table-column label="综合能力指数" prop="zhjx" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="总病案数" prop="zbas" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="100" fixed="left" sortable="custom" align="right"></el-table-column>

        <!-- <el-table-column label="产能指标" header-align="center"> -->
        <el-table-column label="入组病案数" prop="rzbls" width="110" sortable="custom" header-align="center" align="right">
          <template slot-scope="scope">
            <el-button type="text" @click="showTable(scope.row, 'detailInDrg', 'inDrg')">{{ getNum(scope.row.rzbls, 0) }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="DRG组数" prop="drgnum" width="110" sortable="custom" header-align="center" align="right">
          <template slot-scope="scope">
            <el-button type="text" @click="showTable(scope.row, 'detailDrg', 'drg')">{{ getNum(scope.row.drgnum, 0) }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="总权重" prop="zrwt" width="110" sortable="custom" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}"></el-table-column>
        <el-table-column label="CMI值" prop="cmi" :formatter="(row,col)=>{return getNum(row[col.property])}" width="110" sortable="custom" align="right"></el-table-column>
        <!-- </el-table-column> -->

        <!-- <el-table-column label="效率指标" header-align="center"> -->
        <el-table-column label="时间消耗指数" prop="timesi" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <el-table-column label="平均住院日" prop="pjzyr" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <el-table-column label="费用消耗指数" prop="costsi" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <el-table-column label="次均费用" prop="cjfy" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <!-- </el-table-column> -->

        <!-- <el-table-column label="安全指标" header-align="center"> -->
        <el-table-column label="低风险组死亡率%（人数）" prop="lownum" sortable="custom" width="190" align="right">
          <template slot-scope="scope">
            <span v-text="scope.row.lowswl"></span>
            <span>（{{scope.row.lownum}}）</span>
          </template>
        </el-table-column>
        <el-table-column label="中低风险组死亡率%（人数）" prop="mednum" sortable="custom" width="210" align="right">
          <template slot-scope="scope">
            <span v-text="scope.row.medswl"></span>
            <span>（{{scope.row.mednum}}）</span>
          </template>
        </el-table-column>
        <!-- </el-table-column> -->

        <el-table-column label="操作" width="130" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" size="small" :disabled="isCompare(scope.row, 'ksbm') === true ? true : false" @click="compareSel(scope.$index, scope.row)" icon="fa-hand-pointer-o">对比
            </el-button>
            <el-button type="text" icon="el-icon-search" @click="showTable(scope.row, 'detailDepartment', 'detail')">查看</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </kindo-card>

    <!-- 入组病案详情 -->
    <el-dialog title="入组病案查询" v-drag :visible.sync="detailInDrg" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.exportrzbas, showTableParams)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.rzbas" :queryParam="showTableParams" ref="inDrg">
        <el-table-column label="医院名称" prop="yyName" min-width="100" show-overflow-tooltip header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="病案号" prop="bah" width="130" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="DRG编码" prop="drgcode" width="100" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="drgname" show-overflow-tooltip min-width="120" header-align="center"></el-table-column>
        <el-table-column label="相对权重" prop="rwt" width="100" header-align="center" align="right" :formatter="(row,col)=>{return getNum(row[col.property])}" sortable="custom"></el-table-column>
        <el-table-column label="主要诊断" prop="zyzd" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="主要操作" prop="zycz" width="100" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="住院天数" prop="zyts" width="100" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="出院日期" :formatter="(row,col)=>{return row[col.property].toDate().formatDate('yyyy-MM-dd')}" prop="cyrq" width="100" header-align="center" align="center" sortable="custom"></el-table-column>
        <el-table-column label="住院总费用" prop="zyzfy" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="操作" header-align="center" width="90">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="queryBa(scope.row)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- 病案详情 -->
    <el-dialog title="病案详情" :visible.sync="detailBa.visible" width="80%">
      <kindo-patientInfo :url="detailBa.url" :params="{id: detailBa.bahId}"></kindo-patientInfo>
    </el-dialog>

    <!-- DRG组数详情 -->
    <el-dialog :title="showTableTitle +' DRG组统计分析'" v-drag :visible.sync="detailDrg" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.exportdrg, showTableParams)" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table :url="api.drg" :queryParam="showTableParams" ref="drg" :default-sort="{prop: 'drgcode', order: 'ascending'}">
        <el-table-column label="DRG编码" width="120" prop="drgcode" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="DRG名称" prop="drgname" min-width="140" show-overflow-tooltip header-align="center"></el-table-column>
        <el-table-column label="入组病案数" prop="rzbls" width="130" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="相对权重" width="100" prop="drgrwt" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="CMI值" width="90" prop="cmi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="时间消耗指数" width="130" prop="timesi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="平均住院日（天）" width="150" prop="pjzyr" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="费用消耗指数" width="130" prop="costsi" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="次均费用（元）" width="130" prop="cjfy" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="死亡人数" width="100" prop="swnum" align="right" header-align="center" sortable="custom"></el-table-column>
        <el-table-column label="风险等级" width="100" prop="risk" :formatter="(row,col)=>{return kindo.dictionary.getLabel(dict.ML_RISK, row[col.property])}" align="right" header-align="center" sortable="custom"></el-table-column>
      </kindo-table>
    </el-dialog>

    <!-- 详情 -->
    <el-dialog :title="showTableTitle + ' 医院DRG绩效统计分析'" v-drag :visible.sync="detailDepartment" width="80%">
      <el-button class="exportBtn" @click="exportTable(api.exportview, showTableParams)" icon="fa fa-cloud-download">导出</el-button>
      <div class="dep-legend-table" style="float:right;margin-top: -5px;">
        <div class="legend-title">
          <span>
            <i class="circle c1"></i>能力</span>
          <span>
            <i class="circle c2"></i>效率</span>
          <span>
            <i class="circle c3"></i>安全</span>
        </div>
      </div>
      <kindo-table :url="api.view" :queryParam="showTableParams" ref="detail" class="dep-legend-table">
        <el-table-column label="医院名称" prop="memberName" show-overflow-tooltip min-width="150" fixed="left" sortable="custom" header-align="center"></el-table-column>
        <el-table-column label="综合绩效" prop="jbdzhzs" :formatter="(row,col)=>{return getNum(row[col.property])}" width="100" fixed="left" sortable="custom" align="right"></el-table-column>
        <el-table-column label="总病案数" prop="jbdbanum" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="100" fixed="left" sortable="custom" align="right"></el-table-column>

        <!-- <el-table-column label="产能指标" header-align="center"> -->
        <el-table-column label="入组病案数" prop="jbdindrgnum" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="110" sortable="custom" header-align="center" align="right"></el-table-column>
        <el-table-column label="DRG组数" prop="jbddrgnum" :formatter="(row,col)=>{return getNum(row[col.property], 0)}" width="110" sortable="custom" header-align="center" align="right"></el-table-column>
        <el-table-column label="总权重" :formatter="(row,col)=>{return getNum(row[col.property])}" prop="jbdrwt" width="110" sortable="custom" align="right"></el-table-column>
        <el-table-column label="CMI值" prop="jbdcmi" :formatter="(row,col)=>{return getNum(row[col.property])}" width="110" sortable="custom" align="right"></el-table-column>
        <!-- </el-table-column> -->

        <!-- <el-table-column label="效率指标" header-align="center"> -->
        <el-table-column label="时间消耗指数" prop="jbdtimesi" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <el-table-column label="平均住院日" prop="jbdpjzyr" width="120" sortable="custom" :formatter="(row,col)=>{return getNum(row[col.property])}" align="right"></el-table-column>
        <el-table-column label="费用消耗指数" prop="jbdcostsi" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <el-table-column label="次均费用" prop="jbdcjfy" :formatter="(row,col)=>{return getNum(row[col.property])}" width="120" sortable="custom" align="right"></el-table-column>
        <!-- </el-table-column> -->

        <!-- <el-table-column label="安全指标" header-align="center"> -->
        <el-table-column label="低风险组死亡率%（人数）" prop="jbdlownum" sortable="custom" width="190" align="right">
          <template slot-scope="scope">
            <span v-text="scope.row.jbdlowswl"></span>
            <span>（{{scope.row.jbdlownum}}）</span>
          </template>
        </el-table-column>
        <el-table-column label="中低风险组死亡率%（人数）" prop="jbdmednum" sortable="custom" width="210" align="right">
          <template slot-scope="scope">
            <span v-text="scope.row.jbdmedswl"></span>
            <span>（{{scope.row.jbdmednum}}）</span>
          </template>
        </el-table-column>
        <!-- </el-table-column> -->
      </kindo-table>
    </el-dialog>

    <!-- 对比选择 -->
    <div :class="compare.selectVisi ? 'show' : 'hide'" class="compareDialog">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span style="font-weight: bold">绩效对比</span>
          <span style="font-size:12px;color:#999;margin-left: 10px;">最多5个</span>
          <el-button style="float: right" @click="compareRemoveAll()">取消对比</el-button>
          <el-button type="primary" style="float: right;margin-right: 10px;" @click="compareStartDept(api.compare, 'ksbm', prevParam)">开始对比</el-button>
        </div>
        <table class="item">
          <tr v-for="(row, index) in compare.selection" :key="index">
            <td width="30%">{{row.ksbm}}</td>
            <td width="30%">{{row.ksmc}}</td>
            <td>
              <el-button type="text" size="small" @click="compareRemoveSingle(row, index)">
                <i class="el-icon-close" style="color:#666;font-size:14px;"></i>
              </el-button>
            </td>
          </tr>
        </table>
      </el-card>
    </div>

    <!-- 对比结果 -->
    <el-dialog :visible.sync="compare.resultVisi" width="90%">
      <kindo-kpiCompare :compareData="compare.resultData"></kindo-kpiCompare>
    </el-dialog>
  </div>
</template>

<script>
import mixinKPI from '@/mixins/mixinKPI.js'
import KindoDepartment from '@/components/kindo-department/KindoDepartment'
import KindoOrgaType from '@/components/kindo-orgaType/KindoOrgaType'
export default {
  mixins: [mixinKPI],
  components: {
    'kindo-department': KindoDepartment,
    'kindo-orgaType': KindoOrgaType
  },
  data() {
    return {
      api: {
        listpage: kindo.config.api.cDrgKPI + 'qyjxpj/ks/listpage',
        drg: kindo.config.api.cDrgKPI + 'qyjxpj/ks/drg',
        rzbas: kindo.config.api.cDrgKPI + 'qyjxpj/ks/rzbas',
        view: kindo.config.api.cDrgKPI + 'qyjxpj/ks/view',

        zhjx: kindo.config.api.cDrgKPI + 'qyjxpj/ks/zhjx',
        aq: kindo.config.api.cDrgKPI + 'qyjxpj/ks/aq',
        cnzb: kindo.config.api.cDrgKPI + 'qyjxpj/ks/cnzb',
        efficiency: kindo.config.api.cDrgKPI + 'qyjxpj/ks/efficiency',

        exportlistpage: kindo.config.api.cDrgKPI + 'qyjxpj/ks/exportlistpage',
        exportdrg: kindo.config.api.cDrgKPI + 'qyjxpj/ks/exportdrg',
        exportrzbas: kindo.config.api.cDrgKPI + 'qyjxpj/ks/exportrzbas',
        exportview: kindo.config.api.cDrgKPI + 'qyjxpj/ks/exportview',

        compare: kindo.config.api.cDrgKPI + 'qyjxpj/ks/compare'
      },
      searchForm: {
        year: '',
        quarter: '',
        month: '',
        city: '',
        cnty: '',
        yljglx: '',
        lev1: '',
        lev2: '',
        ksCode: '',
        compItems: ''
      },
      showTableParams: {},
      showTableTitle: '',
      tabsBtn: '综合绩效',
      dict: {
        OT_04: [],
        ML_RISK: []
      },

      chartPerformance: null,
      chartProductivity: null,
      chartEfficiency: null,
      chartSafe: null,

      detailInDrg: false,
      detailDrg: false,
      detailDepartment: false,
      detailBa: {
        visible: false,
        hosName: '',
        bahId: '',
        url: kindo.config.api.cDrgQC + 'baqc/colligation/queryDetail'
      },

      compare: {
        selection: [],
        selectVisi: false,
        resultVisi: false,
        resultData: {
          unused: 'MDC',
          data: []
        }
      },

      prevParam: {}
    }
  },
  created() {
    this.getDictionary('dict')
  },
  mounted() {
    this.$nextTick(() => {
      this.search()
    })
  },
  methods: {
    search() {
      this.prevParam = Object.assign({}, this.searchForm)
      this.tabsChange('标准科室')
      this.loadTable('table')
    }
  },
  watch: {
    'searchForm.ksCode': function() {
      this.prevParam = Object.assign({}, this.searchForm)
      this.loadTable('table')
    }
  }
}
</script>
<style scoped>
.tt {
  color: red;
}
.box-card .item {
  border-spacing: inherit;
  width: 100%;
  font-size: 13px;
}

.box-card .item td {
  border-bottom: 1px solid #ddd;
  padding: 5px 8px;
}

.box-card .item tr:last-child td {
  border-bottom: 0;
}

.compareDialog {
  position: fixed;
  width: 100%;
  display: none;
  top: 0;
  z-index: 999;
  left: 0;
  box-shadow: 0 0 10px #ccc;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.dep-legend-table .legend-title {
  margin-left: 20px;
}
.dep-legend-table .legend-title .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  vertical-align: -1px;
}
.dep-legend-table .legend-title span {
  margin-right: 10px;
  font-size: 13px;
}
.dep-legend-table .legend-title .circle.c1 {
  background: #d3dce6;
}
.dep-legend-table .legend-title .circle.c2 {
  background: #e5e9f2;
}
.dep-legend-table .legend-title .circle.c3 {
  background: #99a9bf;
}
</style>
<style>
.dep-legend-table .el-table--mini th:nth-child(5),
.dep-legend-table .el-table--mini th:nth-child(6),
.dep-legend-table .el-table--mini th:nth-child(7),
.dep-legend-table .el-table--mini th:nth-child(8) {
  background: #d3dce6;
}
.dep-legend-table .el-table--mini th:nth-child(9),
.dep-legend-table .el-table--mini th:nth-child(10),
.dep-legend-table .el-table--mini th:nth-child(11),
.dep-legend-table .el-table--mini th:nth-child(12) {
  background: #e5e9f2;
}
.dep-legend-table .el-table--mini th:nth-child(13),
.dep-legend-table .el-table--mini th:nth-child(14) {
  background: #99a9bf;
}
</style>
