<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="出院日期">
          <kindo-rich-datepicker :year.sync="searchForm.year" :month.sync="searchForm.month" :quarter.sync="searchForm.quarter"></kindo-rich-datepicker>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :value="searchTemp.orge" :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" @click="getData">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
        <el-form-item label="手术名称">
          <el-input v-model="searchForm.cchiCodeOrName" placeholder="输入CCHI编码或名称"></el-input>
        </el-form-item>
        <el-form-item label="手术等级">
          <el-select v-model.trim="searchForm.surgeryLev" placeholder="请选择" clearable filterable>
            <el-option v-for=" item in source.surgeryLev" :key="item.value " :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </kindo-card-search>

    <kindo-card>
      <div slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </div>
      <kindo-table ref="tableRef" :pageSize="20" :queryParam="searchForm" :url="config.api.getTable" show-summary :summary-method="getSummaries" :default-sort="{prop: 'cchiCode', order: 'ascending'}">
        <el-table-column prop="cchiCode" width="120" header-align="center" show-overflow-tooltip label="CCHI" sortable="custom"></el-table-column>
        <el-table-column prop="cchiName" min-width="160" header-align="center" show-overflow-tooltip label="手术操作名称"></el-table-column>
        <el-table-column prop="surgerySum" width="120" header-align="center" align="right" show-overflow-tooltip label="手术台数" sortable="custom">
          <template slot-scope="scope">
            <el-button type="text" @click="show(scope.row)">{{scope.row.surgerySum !== null ? scope.row.surgerySum.formatNum(0) : '-'}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="surgeryLev" width="120" header-align="center" align="center" show-overflow-tooltip label="手术等级" :formatter="(r,c,v)=>{return kindo.dictionary.getLabel(source.surgeryLev,v)}" sortable="custom"></el-table-column>
        <el-table-column prop="jsnd" width="120" header-align="center" align="right" show-overflow-tooltip label="技术难度" sortable="custom"></el-table-column>
        <el-table-column prop="fxcd" width="120" header-align="center" align="right" show-overflow-tooltip label="风险程度" sortable="custom"></el-table-column>
      </kindo-table>
    </kindo-card>

    <el-dialog :title="currentRow.cchiName+' 手术病案'" :visible.sync="dialogVisible" width="80%">
      <el-button class="exportBtn" @click="exportClickTable" icon="fa fa-cloud-download">导出</el-button>
      <kindo-table ref="tableClickRef" :queryParam="Object.assign({},searchForm,{cchiCode:currentRow.cchiCode})" :url="config.api.show">
        <el-table-column prop="memberName" min-width="160" header-align="center" show-overflow-tooltip label="医院名称" sortable="custom"></el-table-column>
        <el-table-column prop="bah" width="140" header-align="center" show-overflow-tooltip label="病案号" sortable="custom"></el-table-column>
        <el-table-column prop="zyzd_icd10" width="140" header-align="center" show-overflow-tooltip label="主要诊断ICD10"></el-table-column>
        <el-table-column prop="zycz_icd9" width="140" header-align="center" show-overflow-tooltip label="主要操作ICD9"></el-table-column>
        <el-table-column prop="cyrq" width="120" header-align="center" align="center" show-overflow-tooltip label="出院日期" sortable="custom"></el-table-column>
        <el-table-column prop="zyts" width="100" header-align="center" align="right" show-overflow-tooltip label="住院天数" sortable="custom"></el-table-column>
        <el-table-column prop="cyks" width="120" header-align="center" show-overflow-tooltip label="出院科室" sortable="custom"></el-table-column>
        <el-table-column prop="lyfs" width="140" header-align="center" show-overflow-tooltip label="离院方式" :formatter="(r,c,v)=>{return kindo.dictionary.getLabel(source.lyfs,v)}" sortable="custom"></el-table-column>
        <el-table-column width="90" header-align="center" align="center" show-overflow-tooltip label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-search" @click="showMore(scope.row.id)">查看明细</el-button>
          </template>
        </el-table-column>
      </kindo-table>
    </el-dialog>

    <el-dialog title="病案详情" :visible.sync="showMoreDialogVisible" width="80%">
      <kindo-patientInfo :url="config.api.getById" :params="patientinfo"></kindo-patientInfo>
    </el-dialog>
  </div>
</template>

<script>
import config from './config'
import KindoOrganization from '../../../components/kindo-organization/KindoOrganization'
import KindoHosptial from '../../../components/kindo-hospital/KindoHosptial'
import KindoOrgaLevel from '../../../components/kindo-orgaLevel/KindoOrgaLevel'
import KindoPatientInfo from '../../../components/kindo-patientInfo/index'

export default {
  components: {
    'kindo-organization': KindoOrganization,
    'kindo-hospital': KindoHosptial,
    'kindo-orgaLevel': KindoOrgaLevel,
    'kindo-patientInfo': KindoPatientInfo
  },
  data() {
    return {
      config: config,
      searchForm: {
        city: '',
        cnty: '',
        year: '',
        quarter: '',
        month: '',
        memberCode: '',
        cchiCodeOrName: '',
        surgeryLev: ''
      },
      searchTemp: {
        orge: ['']
      },
      source: {
        surgeryLev: [],
        lyfs: []
      },
      currentRow: {},
      patientinfo: {},
      dialogVisible: false,
      showMoreDialogVisible: false,
      sumInfo: null
    }
  },
  async created() {
    // 手术等级
    let resSurgeryLev = await kindo.dictionary.getDictionary('CC06_00_255_00')
    this.source.surgeryLev = resSurgeryLev || []

    // 离院方式
    let resLyfs = await kindo.dictionary.getDictionary('CC06_00_223_00')
    this.source.lyfs = resLyfs || []
  },
  methods: {
    getData: async function() {
      let sumTemp = await this.$http.get(config.api.sum, { params: this.searchForm })
      this.sumInfo = sumTemp.data
      this.$refs.tableRef.loadData()
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.searchForm)
    },
    show: function(row) {
      this.currentRow = row
      this.dialogVisible = true

      this.$nextTick(() => {
        this.getTableClickData()
      })
    },
    getTableClickData: function() {
      this.$refs.tableClickRef.reloadData()
    },
    exportClickTable: function() {
      kindo.util.downloadFile(config.api.clickExportTable, Object.assign({}, this.searchForm, { cchiCode: this.currentRow.cchiCode }))
    },
    showMore: async function(id) {
      this.patientinfo = { id: id }
      this.showMoreDialogVisible = true
    },
    getSummaries: function(param) {
      const { columns } = param
      const sums = []

      if (this.sumInfo) {
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '合计'
            return
          }
          switch (index) {
            case 3:
              sums[index] = this.sumInfo.surgeryTotal !== null ? this.sumInfo.surgeryTotal.formatNum(0) : '-'
              break
            default:
              break
          }
        })
      }
      return sums
    }
  }
}
</script>
