/*
 * @Author: lilizhou
 * @Description:  数据中心-数据中心-医院信息 
 * @Last Modified by: lilizhou
 * @Last Modified time: 2018-07-25 15:08:45
 */

<template>
  <div>
    <kindo-card-search title="筛选条件" collapse>
      <el-form :model="searchForm" label-width="100px" inline>
        <el-form-item label="数据接收日期" label-width="100px">
          <kindo-data-range v-model.trim="searchTemp.cyrq"></kindo-data-range>
        </el-form-item>
        <el-form-item label="组织机构">
          <kindo-organization :value="searchTemp.orge" :city.sync="searchForm.city" :cnty.sync="searchForm.cnty"></kindo-organization>
        </el-form-item>
        <el-form-item label=" ">
          <el-button type="primary" icon="el-icon-search" style="margin-left:2px;" @click="get">查询</el-button>
        </el-form-item>
      </el-form>
      <el-form slot="more" :model="searchForm" label-width="100px" inline>
        <el-form-item label="医院名称">
          <kindo-hospital v-model.trim="searchForm.memberCode"></kindo-hospital>
        </el-form-item>
      </el-form>
    </kindo-card-search>
    <kindo-card title="医院信息">
      <template slot="control">
        <el-button icon="fa fa-cloud-download" @click="exportTable">导出</el-button>
      </template>
      <kindo-table ref="table" :url="config.api.get" :queryParam="search" :pageSize="20">
        <el-table-column min-width="120" label="医院代码" header-align="center" align="left" prop="memberCode" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="医院名称" header-align="center" align="left" prop="memberName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="130" label="医院类型" header-align="center" align="left" prop="memberType" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="医院级别" header-align="center" align="center" prop="level1" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="100" label="医院等级" header-align="center" align="center" prop="level2" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="所属行政区域" header-align="center" align="left" prop="regionName" show-overflow-tooltip></el-table-column>
        <el-table-column min-width="120" label="数据接收时间" header-align="center" align="center" prop="dataReceiveTime" :formatter="kindo.util.formatTime" show-overflow-tooltip></el-table-column>
      </kindo-table>
    </kindo-card>
  </div>
</template>

<script>
import KindoOrganization from '@/components/kindo-organization/KindoOrganization'
import KindoDateRange from '@/components/kindo-date-range/index'
import KindoHosptial from '@/components/kindo-hospital/KindoHosptial'
import mixinKPI from '@/mixins/mixinKPI.js'

import config from './config'

export default {
  mixins: [mixinKPI],
  components: {
    'kindo-organization': KindoOrganization,
    'kindo-data-range': KindoDateRange,
    'kindo-hospital': KindoHosptial
  },
  data() {
    return {
      config,
      searchForm: {
        city: '',
        cnty: '',
        bgTime: new Date().proDate('{%M-3}').formatDate(),
        endTime: new Date().formatDate(),
        memberCode: ''
      },
      searchTemp: {
        orge: [''],
        cyrq: [new Date().proDate('{%M-3}'), new Date()] // 出院日期
      },
      dict: {
        // 医疗机构分级
        // OT_02: [],
        // 医疗机构分级
        // OT_03: [],
        // OT_04: []
      }
    }
  },
  computed: {
    search: function() {
      let params = { memberCode: '', dataReceiveStartTime: '', dataReceiveEndTime: '', regionCode: '' }
      params.memberCode = this.searchForm.memberCode
      params.dataReceiveStartTime = this.searchForm.bgTime + ' 00:00:00'
      params.dataReceiveEndTime = this.searchForm.endTime + ' 23:59:59'
      params.city = this.searchForm.city
      params.cnty = this.searchForm.cnty
      return params
    }
  },
  created() {
    // this.getDictionary('dict')
  },
  mounted() {
    this.$nextTick(function() {
      this.get()
    })
  },

  methods: {
    get() {
      this.$refs.table.reloadData({ queryParam: this.search })
    },
    exportTable: function() {
      kindo.util.downloadFile(config.api.exportTable, this.search)
    }
  },
  watch: {
    'searchTemp.cyrq': function(arr) {
      Object.assign(this.searchForm, {
        bgTime: arr && arr[0] ? arr[0].formatDate() : '',
        endTime: arr && arr[1] ? arr[1].formatDate() : ''
      })
    }
  }
}
</script>

<style>

</style>
